[2015-10-13 17:57] HerinHentry opened #1 "WP Server _ Issue 1 _ Test"
Test

[2015-10-14 00:40] mr-bobz commented on #1
Test Issue _acknowledged_ :-)

[2015-10-14 00:40] #1 closed, assigned to nobody

[2015-10-14 01:41] christosptr opened #2 "Transfer TALA prototype to the knowbility server"
Transfer prototype from
http://52.64.119.254/wordpress/
to
http://talarts.knowbility.org/

[2015-10-17 18:48] HerinHentry opened #3 "Skip to Tool Bar_No Functionality"

[2015-10-17 20:52] HerinHentry opened #4 "Knowbility Logo is White on Transparent background and not visible."
Please see added Knowbility Logo at the footer. It't not visible. Can we change the background of Logo / background of the page? Can you please help with Css background (A Test colour today)?

[2015-10-17 20:56] HerinHentry opened #5 "Create a Last updated date on the footer"
As per the Wordpress judging form we need to include Last Updated Date on the footer of the page.Can you please check if any Widgets / code can be changed to accomodate this?

[2015-10-18 16:16] mr-bobz commented on #2
Transfer completed. Theme, plugins etc activated.

[2015-10-18 16:16] #2 closed, assigned to nobody

[2015-10-19 08:27] HerinHentry opened #6 "Tabbed Control on Home page not receiving keyboard focus"

[2015-10-19 09:19] HerinHentry opened #7 "Footer Menu is not visible on mobile devices on Home page"
Android device _ Note 3 have issue. Footer not showing on Chrome & native android browser.

[2015-10-19 09:52] mr-bobz commented on #3
I believe 'Skip to toolbar' comes from WP. Make sure to open in a different browser or use incognito/private mode so you don't test being logged in to wordpress. Then you will see our proper site with 'Skip to content'

[2015-10-19 09:52] #3 closed, assigned to mr-bobz

[2015-10-23 02:40] HerinHentry opened #8 "Services Page _ The heights of the Grid are not exactly the same."
Hi, I found the link related to the jquery to match the height. Can you please give this a go?
The Legal Services Section and the Accounting Services section grid height should be the same.
http://www.responsivegridsystem.com/playground/

[2015-10-23 03:27] HerinHentry opened #9 "Title of the Home Page"
The current Title shows
TALA | Home | Texas Accountants and Lawyers for the Arts
We want the title to be
"Texas Accountants and Lawyers for the Arts (TALA)"

Even the Services page Title is currently displayed as "Services | TALA | Home". Please change the page title in HTML.

[2015-10-25 10:32] HerinHentry opened #10 "No Tala logo on mobile site"
Chrome and android browser on note3. No tala logo displayed.

[2015-10-27 11:17] HerinHentry opened #11 "Sponsor Logos in Home page do not have alt text"

[2015-10-27 11:18] HerinHentry commented on #9
The current Title is repeated
Texas Accountants and Lawyers for the Arts (TALA) | Texas Accountants and Lawyers for the Arts

[2015-10-27 11:24] HerinHentry opened #12 "No Language Attribute Error for Youtube"
![image](https://cloud.githubusercontent.com/assets/15111528/10756612/3b13c728-7cf9-11e5-92a5-49d5e555a928.png)

When I check with the Vision Australia tool bar, for the Language Attribute, error displayed (attached screenshot). @christosptr Can you please advise if this needsa language of part?

[2015-10-27 14:05] christosptr commented on #12
@HerinHentry

I have specified the language in the the video I have uploaded. I am not aware of a specification that need to have the language of part. What I know about the language of part is that for example when you are in an English website and you refer to a French name then you will need the language of part so that screen readers can read the French name correctly.

I have not come across

[2015-10-28 10:17] HerinHentry commented on #12
@christosptr Thanks for confirming. I too wasn't sure about this error. will do some research before closing the issue. Assigning issue to myself.

[2015-10-28 10:47] HerinHentry opened #13 "Current Page highlighted in Yellow Fails Colour contrast."
![image](https://cloud.githubusercontent.com/assets/15111528/10785824/9dbf87ec-7dba-11e5-8fa9-5db03b00aeef.png)

Only Colour that would fit from the TALA Colour palette is #231f20 (Black)
Otherwise, we should be able to go with some neutral colours like #000060.

Please check http://colorsafe.co/ for colour options.

[2015-10-28 11:03] HerinHentry commented on #13
Can we select one of these Colours for the menu?
Menu background #231f20
Active Colour #E86928
Inactive Colour #00AEB3

![image](https://cloud.githubusercontent.com/assets/15111528/10786709/caa9acba-7dbf-11e5-9019-72d28cba5ce9.png)

[2015-10-28 11:34] HerinHentry opened #14 "Youtube Video Issues"
Hi Chris,

Please see my suggestions on the video captioning.
0: 52 : Finished Editing could come in the next frame as it's the continuation after a small pause.
1:13 : they gave us a huge list of deliverables that we had to fill out **in** addition to the
1:28 : **Some of the terminology** can be in one line rather than in 2 screens
1:34 : my brain just **felt** it was gonna explode
1:48 : I cont

[2015-10-28 11:41] HerinHentry commented on #4
This issue has been fixed. Current knowbility Logo here. Can be closed.
![image](https://cloud.githubusercontent.com/assets/15111528/10787433/05a3b586-7dc5-11e5-80e2-b30018826e10.png)

[2015-10-28 11:42] #4 closed, assigned to ruchitamanuja

[2015-10-28 11:44] HerinHentry commented on #5
@christosptr & @mr-bobz Is this Last updated field for the whole website or page specific?

[2015-10-28 11:50] christosptr commented on #14
Thanks Herin

just finish from a meeting.I will have a look now

Cheers Christos
Send from my mobile device

On Wed, Oct 28, 2015 at 10:34 PM, HerinHentry notifications@github.com
wrote:

[2015-10-28 12:14] HerinHentry opened #15 "Embed new Captioned Video on Home Page _ Current video is the TALA (autogenerated caption one)"

[2015-10-28 12:16] HerinHentry commented on #12
Current Youtube video on Home page is the old one. Hence the error. This issue can be closed as we can add the new video and review the page again.

[2015-10-28 12:16] #12 closed, assigned to HerinHentry

[2015-10-28 12:51] HerinHentry opened #16 "Accessibility Tool Bar on Header to be removed"
![image](https://cloud.githubusercontent.com/assets/15111528/10788949/d2de0aca-7dce-11e5-8d0b-7b099ed0f711.png)

As we have the Accessibility tool bar to the Top Right corner, this can be removed.

[2015-10-28 12:52] HerinHentry commented on #16
As we have the Accessibility tool bar to the Top Right corner, this can be removed.

[2015-10-28 12:55] HerinHentry opened #17 "Join Our E-list Link icon needs to be changed."
![image](https://cloud.githubusercontent.com/assets/15111528/10789055/49ce9582-7dcf-11e5-8679-a4e49fbbe0f6.png)

Current Join our E-list link is not clear for sighted users.

[2015-10-28 13:00] HerinHentry opened #18 "On keyboard only navigation, the Sponsors image Grid is not accessible. As well as the images are overlapping."
![image](https://cloud.githubusercontent.com/assets/15111528/10789175/ef09e9ac-7dcf-11e5-9494-57413bae6fc4.png)

Please see screenshot when using Keyboard naviagation on Firefox.

[2015-10-28 13:03] HerinHentry opened #19 "A11y to be renamed to Accessibility in footer"
![image](https://cloud.githubusercontent.com/assets/15111528/10789264/6af47352-7dd0-11e5-819a-e3f64a84f13a.png)

When the screen reader is used, it reads as A eleven y. Please rename to Accessibility.

[2015-10-28 13:05] HerinHentry commented on #18
More over, the Arrows are read as "Link" by the screen reader. They do not have a alt text / title element.

[2015-10-28 13:19] anoopm7 opened #20 "Navigation & usability _ Active Pages to be shown in Menu / Bread brumbs"
if the user is on services page (for. e.g.) then about us is highlighted and sub menu services is highlighted. however this is not the best scenario when visibility is concerned for navigation.

is there a way to have bread crumbs or similar so that navigation is explicit?

[2015-10-28 14:10] christosptr commented on #14
Done

[2015-10-28 17:12] HerinHentry opened #21 "Youtube Video _ Private Video Not playing"

[2015-10-28 17:15] HerinHentry opened #22 "Donate Page _ Form Label missing"
![image](https://cloud.githubusercontent.com/assets/15111528/10796754/b23bfe7e-7df3-11e5-8095-f9b076ecfd86.png)

All form elements have the same issue. Wave tool finds 58 Errors

[2015-10-28 17:16] HerinHentry opened #23 "Donate Page_Image Button missing Alt text"
![image](https://cloud.githubusercontent.com/assets/15111528/10796801/e44498a4-7df3-11e5-99b8-f364e22ed6db.png)

[2015-10-28 17:20] HerinHentry commented on #22
Same with all the Radio Buttons...
This form field should be labelled in some way. Use the label element (either with a "for" attribute or wrapped around the form field), or "title", "aria-label" or "aria-labelledby" attributes as appropriate.

[2015-10-28 17:24] HerinHentry opened #24 "Donate Page _ Error Message Contrasts issue"
![image](https://cloud.githubusercontent.com/assets/15111528/10797034/dfbd075c-7df4-11e5-852e-4b585a5d6de2.png)

[2015-10-28 17:24] HerinHentry opened #25 "Donate Page_Mandatory fields are not mentioned as mandatory"

[2015-10-29 07:04] mr-bobz commented on #5
@HerinHentry, it is for the whole site
https://wordpress.org/plugins/site-last-modified/

[2015-10-29 07:04] #5 closed, assigned to HerinHentry

[2015-10-29 08:15] mr-bobz commented on #10
Tweaked style to show logo on mobile mode too

![tala_logo_mobile](https://cloud.githubusercontent.com/assets/12365601/10813192/511e710c-7e71-11e5-998b-efb83353b51c.jpg)

[2015-10-29 08:15] #10 closed, assigned to mr-bobz

[2015-10-29 09:14] HerinHentry commented on #21
Issue is resolved. Closing issue.

[2015-10-29 09:14] #21 closed, assigned to christosptr

[2015-10-29 09:45] #15 closed, assigned to christosptr

[2015-10-29 09:45] #16 closed, assigned to anmolpatel

[2015-10-29 09:52] mr-bobz commented on #9
Fixed. Title is now automatically generated and would be in following format
<page title> - Texas Accountants and Lawyers for the Arts (TALA)

eg:
Home - Texas Accountants and Lawyers for the Arts (TALA)
About Us - Texas Accountants and Lawyers for the Arts (TALA)

[2015-10-29 09:52] #9 closed, assigned to mr-bobz

[2015-10-29 10:04] mr-bobz commented on #19
Menu item changed to Accessibility

[2015-10-29 10:04] #19 closed, assigned to mr-bobz

[2015-10-29 10:06] HerinHentry opened #26 "Font Size too big for the website"

[2015-10-29 10:06] HerinHentry opened #27 "Event Page _ Comments disable on Posts"

[2015-10-29 12:10] HerinHentry commented on #14
@ruchitamanuja Can you please retest this issue and see if we have missed any thing? I am thinking few more places might need few punctuations like comma or semi-colon. Can you please have a detailed look and advise? The Video is on the Home page now and we need to turn Closed Caption on to test this. Please assign back to @christosptr with the issues that need to be looked after. The ones in bold

[2015-10-30 13:17] HerinHentry opened #28 "Accessibility Plug-in not working"

[2015-10-30 13:18] HerinHentry opened #29 "Site Origin Image Grid is not showing on Home page."
I have added the site origin image grid and tried moving to different positions. Its not working. Tested on a different page (Test Page). Not working.

[2015-10-30 13:25] christosptr opened #30 "When Navigating from one submenu to another website breaks"
Reproduction Steps
1 click on the sub-menu  Join Us » Members
2 quickly go to the menu and click on the Join Us » Volunteers

Expected Result
The Volunteers page is loaded

Actual Result
An error message is displayed.
"THIS IS SOMEWHAT EMBARRASSING, ISN'T IT?"
This issue appears to be an intermittent issue and it may have to do with the server load

Browser: Chrome
OS: Windows7

[2015-10-30 13:25] christosptr commented on #30
![sitebreakwhennivigatingtoofast](https://cloud.githubusercontent.com/assets/5661003/10846735/f2460654-7f65-11e5-9055-950fd45d616f.JPG)

[2015-10-30 13:48] christosptr opened #31 "The home link on the Site Map has inconsistent name"
1 Click on the Home link on the Menu
2 Page load and you see the home in the breadcrumb
3 Now go to the site map

Expected result
The home link should be listed in the site map

Actual Result
The home link is not shown in the site map
Instead the title "Texas Accountants and Lawyers for the Arts (TALA)" is shown

This is not consistent and it can cause issues to people with cognitive disability

[2015-10-30 13:48] christosptr commented on #31
![sitemap](https://cloud.githubusercontent.com/assets/5661003/10847229/13d6c5b2-7f69-11e5-909a-f1f3fef6931c.JPG)

[2015-10-30 14:05] HerinHentry opened #32 "Change Menu Structure as per TALA's request"
Events-Primary tab

Services-Primary tab
    What we do?  (Called Services)  Secondary
    Do I Qualify? Secondary
    Membership Secondary
    Request Assistance Secondary
    Publications secondary

Support-Primary tab
    Donate-Secondary
    Volunteer-(Combine becoming a volunteer here) Secondary

About-primary tab
    Mission-Secondary
    Board and Staff-Secondary
    Contact-Secondary
    F

[2015-10-30 14:44] christosptr opened #33 "Video does not show captions on mini iPad"
Reproduction Steps
Using mini iPad
1 Go to the home page
2 Start the Video

Expected Result
Be able to activate captions

Actual Result
I do not see the option CC on the video player to activate captions when using the min iPad

[2015-10-30 14:44] HerinHentry commented on #32
@christosptr :The Menu and the page structure has been changed as per TALA's request. Can you please check the breadcrumbs when you are testing?
Thank you,
Herin

[2015-10-30 15:10] christosptr commented on #32
sure will check it again

[2015-10-30 15:18] HerinHentry commented on #32
@christosptr The Primary menus are now non-clickable menus. Only the sub-menus are clickable.
There are some placeholder pages to fill the breadcrumbs. We can include a short code inside these pages to include the child pages.
@mr-bobz Do you have any short codes for the About page, Services page and Support page to display their child pages? These pages are not accessible from Menu. They are acce

[2015-10-30 16:10] christosptr opened #34 "AVT3 JAWS is getting trapped on the video player"
Reproduction steps
1 Start JAWS
2 Start Firefox
3 Navigate to the home page
4 tab until you set the focus on the video player.
5 Try to navigate after the video

Expected Result
You should be able to navigate after the video player

Actual Result
Not able to navigate after the video player. The focus is trapped in the video player. This happens when you also do simple keyboard navigation with out

[2015-10-30 16:13] christosptr opened #35 "Search Test box is not style correctly"
Reproduction Steps
1 Using keyboard navigate to the Search text box

Actual Result
The search text box is shown but the style is not correct (see attachment)

Expected Result
The search text box is shown with the correct style

[2015-10-30 16:13] christosptr commented on #35
![searchtextbox](https://cloud.githubusercontent.com/assets/5661003/10851093/5d120570-7f7d-11e5-84b0-ea8598f03290.JPG)

[2015-10-30 16:16] christosptr opened #36 "The menu drop down does not have the correct style"
Repro Steps
1 Keyboard navigate to one of the sub menu items of the About Us menu

Actual result
the styling is not looking nice. See attachment

Expected Result
A smoother edge of the sub menu item

[2015-10-30 16:16] christosptr commented on #36
![menustylingnotcorrect](https://cloud.githubusercontent.com/assets/5661003/10851183/ba8a25d4-7f7d-11e5-9e4a-5a7243d00694.JPG)

[2015-10-30 17:37] mr-bobz commented on #17
Changed to a separate button

[2015-10-30 17:37] #17 closed, assigned to mr-bobz

[2015-10-30 17:38] mr-bobz commented on #20
Breadcrumb added, page structure matched with Menu

[2015-10-30 17:38] #20 closed, assigned to mr-bobz

[2015-10-30 18:03] mr-bobz commented on #32
Why do you want to display child pages? In case someone opens it via sitemap?

[2015-10-30 18:04] mr-bobz commented on #32
I updated page title and menu to match TALA menu names

[2015-10-30 23:24] HerinHentry commented on #32
Yes. Just for the site map

[2015-10-31 03:03] mr-bobz commented on #32
Done, added child page list via this plugin's short code:
https://wordpress.org/plugins/list-pages-shortcode/

[2015-10-31 03:03] #32 closed, assigned to christosptr

[2015-10-31 03:20] mr-bobz commented on #31
For the home page the sitemap plugin is automatically showing the site title. I changed the Home page title, but it doesn't make any diff. I think we have to mark it as a known issue for now!

[2015-10-31 03:22] mr-bobz commented on #31
Btw, I removed 'Home' from menu and added a title to logo (clicking on it takes to home page). Users can also use the breadcrumb to go back to Home.

[2015-10-31 03:59] HerinHentry commented on #35
![image](https://cloud.githubusercontent.com/assets/15111528/10861744/deef674c-7fdf-11e5-8952-226602b32c8c.png)
This is the screenshot from firefox.Can you please advise which browser you are testing?

[2015-10-31 04:06] HerinHentry opened #37 "Spelling Errors in webpage _ Every spelling error 1 mark reduced."
Link : http://talarts.knowbility.org/support/volunteer/

What is the time commitment?

The time commitment varies for each case, but generally, TALA cases are fairly brief in nature. TALA does not provide ongoing representation with the same attorney or **accoutant**, so once you complete the matter, you are released. Although preparation of Form 990 is not time intensive, it can lend itself to an

[2015-10-31 04:13] HerinHentry opened #38 "Spelling Error _ Menu Bar"
**Menubar** instead of **Menu Bar**
http://talarts.knowbility.org/accessibility/

[2015-10-31 04:25] HerinHentry opened #39 "Spelling Error _ Menu Bar (Duplicate)"

[2015-10-31 04:30] #39 closed, assigned to nobody

[2015-10-31 06:58] ruchitamanuja commented on #37
![image](https://cloud.githubusercontent.com/assets/15117771/10862362/efb3c050-7ff8-11e5-93d6-b0e88a78e006.png)
Fixed

[2015-10-31 06:58] #37 closed, assigned to ruchitamanuja

[2015-10-31 07:01] ruchitamanuja commented on #38
![image](https://cloud.githubusercontent.com/assets/15117771/10862378/65e73d2e-7ff9-11e5-87bd-cb599ffb4d2e.png)
![image](https://cloud.githubusercontent.com/assets/15117771/10862379/6c0d2ac4-7ff9-11e5-8a37-42e443217706.png)

[2015-10-31 07:01] #38 closed, assigned to ruchitamanuja

[2015-10-31 15:57] mr-bobz commented on #36
Fixed with new menu color changes

[2015-10-31 15:57] #36 closed, assigned to nobody

[2015-10-31 16:00] mr-bobz commented on #35
I believe this happens only when the browser width is not enough to show the search box along with the menu items. So it wraps.

[2015-10-31 16:06] mr-bobz commented on #27
I have set default as disabled for future posts (Settings -> Discussion). For existing posts, go to All posts and use the 'Quick Edit' option under each post in the list mode to disable comments as shown below.
![6606f3c2cd1b9c35](https://cloud.githubusercontent.com/assets/12365601/10864549/7e48b658-8045-11e5-859c-5b46f2e3d44f.jpg)

[2015-10-31 16:08] mr-bobz commented on #27
All posts updated

[2015-10-31 16:08] #27 closed, assigned to mr-bobz

[2015-10-31 16:08] mr-bobz commented on #26
Reduced from 16px to 14px

[2015-10-31 16:08] #26 closed, assigned to mr-bobz

[2015-10-31 16:09] mr-bobz commented on #13
Done

[2015-10-31 16:09] #13 closed, assigned to mr-bobz

[2015-10-31 16:15] mr-bobz commented on #8
Refer what I have done in the home page. You can set same fixed height for both boxes
![4a07ce002d58f3e1](https://cloud.githubusercontent.com/assets/12365601/10864588/b3d64d98-8046-11e5-88e1-f64d70b83f89.jpg)

[2015-10-31 16:15] #8 closed, assigned to mr-bobz

[2015-11-01 07:44] ruchitamanuja commented on #14
[Video Captioning - Down Under.docx](https://github.com/mr-bobz/talarts/files/24833/Video.Captioning.-.Down.Under.docx)
Attached document file for missing words

[2015-11-01 10:47] christosptr commented on #14
I am working form the document that ruchita out on Slack

[2015-11-01 12:23] christosptr commented on #14
caption is now done

[2015-11-01 12:24] #14 closed, assigned to christosptr

[2015-11-01 15:01] mr-bobz commented on #29
Works now after removing the donation custom plugin

[2015-11-01 15:02] mr-bobz commented on #28
Works now after disabling Anmol's custom donation plugin

[2015-11-01 15:03] mr-bobz commented on #11
Added alt text, shows up now with image grid

[2015-11-01 15:03] mr-bobz commented on #18
This is not valid anymore since we are using image grid now

[2015-11-01 15:03] #18 closed, assigned to HerinHentry

[2015-11-02 04:14] HerinHentry opened #40 "Text Resize on Home page _ mission statement and do I qualify goes out of the box."
![image](https://cloud.githubusercontent.com/assets/15111528/10874207/46c4cdb8-8174-11e5-928d-4a1a4c66a960.png)

[2015-11-02 04:14] HerinHentry commented on #29
Can be closed

[2015-11-02 04:14] #29 closed, assigned to HerinHentry

[2015-11-02 04:31] HerinHentry opened #41 "IE _ The CSS entry point backgrounds not loading properly."
Default
![image](https://cloud.githubusercontent.com/assets/15111528/10874255/6079a124-8175-11e5-9a6f-b9c73125b1b1.png)

The Hover colour is white and hence not visible when the page has load issues.

[2015-11-02 05:08] HerinHentry opened #42 "youtube player & iframe issues _ Not receiving keyboard focus"
# iframe width="960" height="570" class="youtube-player" src="http://www.youtube.com/embed/BWk_q3Y6IvI?version=3&amp;rel=1&amp;fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent" frameborder="0" type="text/html">

[2015-11-02 05:50] mr-bobz commented on #41
Fixed missing gradient for IE

[2015-11-02 05:55] HerinHentry commented on #41
Tested. Can be closed.

[2015-11-02 05:55] #41 closed, assigned to HerinHentry

[2015-11-02 05:56] HerinHentry commented on #28
Works now. Can close issue.

[2015-11-02 05:56] #28 closed, assigned to HerinHentry

[2015-11-02 05:57] HerinHentry commented on #11
Alt text verified. Closing issue.

[2015-11-02 05:57] #11 closed, assigned to HerinHentry

[2015-11-02 06:00] HerinHentry commented on #33
Tested on iPad Air. Video captions available.

[2015-11-02 06:06] HerinHentry opened #43 "Empty Header in Volunteer page <h2></h2>"
http://talarts.knowbility.org/support/volunteer/
Inspect Code and h2 element found empty

[2015-11-02 06:09] HerinHentry opened #44 "Donate Page Colour contrast issue"
![image](https://cloud.githubusercontent.com/assets/15111528/10875251/51eeef6a-8184-11e5-9ec8-f0a0d1fed0e6.png)

Not enough Colour contrast on the Fields (required), (optional)

[2015-11-02 06:13] HerinHentry opened #45 "Search functionality broken"
Search functionality is not working. Is this because of the Plug-ins that were removed?
@mustanali Can you please advise if this is the menu changes you are doing?

[2015-11-02 09:57] HerinHentry opened #46 "Become Member and Become Volunteer to be renamed as "Become a Member" & "Become a Volunteer""

[2015-11-02 10:31] HerinHentry opened #47 "Contact Us Section in Footer _ Phone number, Email id to be added."
The current contact information in footer has
TALA, PO Box 144722, Austin, TX 78714

The contact Us page has Phone numbers, Fax, email id as well. Is it possible to include these informations in the footer?
512.459.8252
800.526.8252
Fax: 512.247.2538
info@talarts.org

**Judgement Criteria:**
25.  Contact Information.  Email and/or contact information is provided and easy to find using the address

[2015-11-02 10:56] christosptr commented on #47
Good point. I agree with Herin
On 02/11/2015 9:31 PM, "HerinHentry" notifications@github.com wrote:

[2015-11-02 10:57] HerinHentry opened #48 "Home Page _ Background needed for Disclaimer text."
This Disclaimer message is a very important message. It is good to have a background colour (preferably yellow) to this. This will add some colour to the site.
![image](https://cloud.githubusercontent.com/assets/15111528/10880083/74c6a352-81ac-11e5-9332-536bc1f1fa5b.png)

Sample image:
![image](https://cloud.githubusercontent.com/assets/15111528/10880096/849a50e4-81ac-11e5-93f0-7c8a9c978441.png)

[2015-11-02 11:06] HerinHentry opened #49 "Move Social Media Icon to the Footer"
![image](https://cloud.githubusercontent.com/assets/15111528/10880246/cafecd52-81ad-11e5-8121-3101aa050ff3.png)

Can we please move the Social Media Icon to the footer? This is the common practice  + I think this will look a bit more tidier.

[2015-11-02 11:17] HerinHentry opened #50 "Change the backgrounds to same pattern"
![image](https://cloud.githubusercontent.com/assets/15111528/10880458/72458e24-81af-11e5-9f30-bda4a2485a2b.png)

[2015-11-02 13:00] christosptr opened #51 "HTC mobile does not show the TALA logo"
When browsing the talarts.knowbility.org website with an adroid htc mobile the log is not shown

[2015-11-02 13:05] christosptr commented on #51
![screenshot_2015-11-02-23-12-47](https://cloud.githubusercontent.com/assets/5661003/10882420/a3be0972-81be-11e5-87ee-b0e4acf9bea2.png)

[2015-11-02 13:39] HerinHentry opened #52 "Broken link in Do I Qualify Page"
http://talarts.knowbility.org/services/do-i-qualify/

![image](https://cloud.githubusercontent.com/assets/15111528/10883013/485ca656-81c3-11e5-9792-ea4d1ea5cdc9.png)

[2015-11-02 13:42] HerinHentry opened #53 "Sponsor Logos need a background border to make it more clear."
![image](https://cloud.githubusercontent.com/assets/15111528/10883058/840660ca-81c3-11e5-94a1-7a8c8d210d2d.png)

The Houston Endownment logo in the desktop is very small and it kind of blends with the background. We need a little border / some kind of contrast to distinguish

[2015-11-02 13:43] HerinHentry commented on #30
@christosptr Is this still happening? Can you please check?

[2015-11-02 13:44] HerinHentry commented on #34
This is a critical issue if we have keyboard trap.Can we please look into this as high priority?

[2015-11-02 13:51] HerinHentry opened #54 "Join Our E-list Link Opens in a new tab. But the user is not informed of the changes"
![image](https://cloud.githubusercontent.com/assets/15111528/10883281/fe1a8c64-81c4-11e5-859b-3d1936bd07c5.png)

Tested on Firefox + NVDA combination.

[2015-11-02 13:52] HerinHentry commented on #54
@christosptr Can you please check this behaviour with JAWS?

[2015-11-02 13:55] HerinHentry opened #55 "Board and Staff _ Formatting issue"
http://talarts.knowbility.org/about/boardandstaff/

The page displays visual text editor content.

[2015-11-02 13:58] HerinHentry opened #56 "Search Results does not display the page title"
![image](https://cloud.githubusercontent.com/assets/15111528/10883398/d8a662e0-81c5-11e5-8a76-8ff47777dd98.png)

[2015-11-02 14:00] HerinHentry opened #57 "The Posts displayed on Search results do not have a continue reading link"
![image](https://cloud.githubusercontent.com/assets/15111528/10883437/190b0818-81c6-11e5-905d-73acede755a7.png)

Only pages show the link

[2015-11-02 23:20] christosptr commented on #30
I cannot reproduce anymore. It could be that it was during time that people were making updates on the website

[2015-11-02 23:20] #30 closed, assigned to christosptr

[2015-11-03 07:43] ruchitamanuja opened #58 "Mobile Menu being displayed as blue"
The mobile menu is being displayed as blue still.

Steps to Reproduce:
1.Go to homepage on a mobile
2. Notice the mobile menu

Expected Result:
Menu should be as per minimized desktop menu

Actual Result:
Old Blue menu is being displayed
![screenshot_2015-11-02-18-43-20](https://cloud.githubusercontent.com/assets/15117771/10903136/a25ea784-825a-11e5-827c-56c3c17b67bd.png)

[2015-11-03 08:39] HerinHentry opened #59 "Submenu not Collapsing after the focus goes to the next top level menu"
![image](https://cloud.githubusercontent.com/assets/15111528/10903886/8c9d319c-8262-11e5-9a99-4bbb3185afee.png)

[2015-11-03 08:42] ruchitamanuja commented on #52
Updated the link to http://talarts.knowbility.org/services/membership/

[2015-11-03 08:47] ruchitamanuja commented on #43
![image](https://cloud.githubusercontent.com/assets/15117771/10903999/b3e31fea-8263-11e5-804f-2807551f9ae1.png)
Fixed

[2015-11-03 09:04] HerinHentry commented on #40
Fixed.

[2015-11-03 09:04] #40 closed, assigned to mr-bobz

[2015-11-03 09:06] HerinHentry commented on #45
Fixed

[2015-11-03 09:06] #45 closed, assigned to mr-bobz

[2015-11-03 09:09] christosptr commented on #33
works when you maximize the video player

[2015-11-03 09:17] #31 closed, assigned to nobody

[2015-11-03 09:28] ruchitamanuja commented on #55
![image](https://cloud.githubusercontent.com/assets/15117771/10904722/7075452a-8269-11e5-93d9-d27f294c3d0e.png)
Already fixed

[2015-11-03 09:34] christosptr commented on #54
suggested solution

<a target="_blank" class="btn btn-custom-black" title="Subscribe to TALA Newsletters. Opens New Widnow" href="http://visitor.r20.constantcontact.com/d.jsp?llr=67lifhpab&amp;p=oi&amp;m=1115858153373&amp;sit=lxc8balib&amp;f=b119c4d1-f7ba-41c3-a67b-2afc56cca4fd" aria-lable="Opens New Window">Join E-List</a>

[2015-11-03 09:41] HerinHentry opened #60 "Sponsor Logos in Home page do not have href link set."
![image](https://cloud.githubusercontent.com/assets/15111528/10904975/3ec91612-826b-11e5-939a-785ce452da91.png)

[2015-11-03 10:44] HerinHentry commented on #43
Thank you. Issue Fixed. Defect can be closed.

[2015-11-03 10:44] #43 closed, assigned to HerinHentry

[2015-11-03 10:48] HerinHentry commented on #52
Issue can be closed.

[2015-11-03 10:48] #52 closed, assigned to HerinHentry

[2015-11-03 10:49] mr-bobz commented on #57
I see it working when the content is truncated. It is showing all contents in the list when more link is missing

[2015-11-03 10:55] HerinHentry commented on #55
Issue Fixed. Can be closed.

[2015-11-03 10:55] #55 closed, assigned to HerinHentry

[2015-11-03 10:55] HerinHentry opened #61 "Focus Visible Issue _ The focus indicator need to be highlighted a bit more. Is this possible?"
![image](https://cloud.githubusercontent.com/assets/15111528/10906453/b401f28c-8275-11e5-8481-6e4e1fd93192.png)

[2015-11-03 10:58] HerinHentry opened #62 "Board and Staff page shows Title as About"
![image](https://cloud.githubusercontent.com/assets/15111528/10906482/fa5fe6ee-8275-11e5-9529-ccdefa2dd21c.png)

[2015-11-03 11:08] HerinHentry opened #63 "Menu _ Upper case letters need to be changed to Capitalised."
![image](https://cloud.githubusercontent.com/assets/15111528/10906525/48e65c1c-8276-11e5-9fb2-8207c8390248.png)

Reference :
http://webaim.org/techniques/fonts/#caps

![image](https://cloud.githubusercontent.com/assets/15111528/10906663/820fcd74-8277-11e5-8591-9467e344cf58.png)

Note : SERVICES to be changed to Services etc. Every menu item need to be changed.

[2015-11-03 11:09] HerinHentry commented on #63
@christosptr Can you please advise on this so that @ruchitamanuja can get started on this fix?

[2015-11-03 11:22] HerinHentry opened #64 "DALLA's week _ Image not loaded"
http://talarts.knowbility.org/643/

![image](https://cloud.githubusercontent.com/assets/15111528/10906877/3a6b7142-8279-11e5-9cd5-d9c8bc7319fd.png)

[2015-11-03 11:26] HerinHentry commented on #57
Thanks @mr-bobz . That makes sense. As the link is lost, are we able to truncate the search results to certain characters so that every result links to a detailed page?
![image](https://cloud.githubusercontent.com/assets/15111528/10906950/f036c4f4-8279-11e5-92f9-8660b0d68fb4.png)

[2015-11-03 11:27] HerinHentry commented on #47
Prefect. Defect can be closed.

[2015-11-03 11:27] #47 closed, assigned to ruchitamanuja

[2015-11-03 11:42] HerinHentry commented on #63
@ruchitamanuja Please change all the Upper case menu items to Capitalised menu items. Thank you.

[2015-11-03 12:22] HerinHentry opened #65 "Adjust the spacing in the footer"
![image](https://cloud.githubusercontent.com/assets/15111528/10907850/b3eab534-8281-11e5-9fac-de63f31b333f.png)

Tou much line spacing.

[2015-11-03 12:24] HerinHentry opened #66 "Home page _ Reduce spacing between Video & Paragraph."
![image](https://cloud.githubusercontent.com/assets/15111528/10907893/eb0cab3a-8281-11e5-9824-137ac0d5e39a.png)

[2015-11-03 12:35] ruchitamanuja commented on #48
![image](https://cloud.githubusercontent.com/assets/15117771/10908131/87266cb2-8283-11e5-9a71-f48fca7c9db5.png)
Let me know if this is ok. I also created a rounded border around it to match the other items on the page

[2015-11-03 13:03] ruchitamanuja commented on #60
![image](https://cloud.githubusercontent.com/assets/15117771/10908602/fedeee84-8286-11e5-8393-ed1c02ec072e.png)
The links are added in the widget. When I manually add them in the Text Editor they get lost after saving. @mr-bobz  are you able to please have a look at this?? I think maybe something needs to be done in the widget code.
https://siteorigin.com/thread/image-grid-widget-how-to-link-indiv

[2015-11-03 13:04] ruchitamanuja commented on #53
I have added a background colour of #FFFFFF around the widget.
![image](https://cloud.githubusercontent.com/assets/15117771/10908691/99065d12-8287-11e5-815a-1006c29cf437.png)

[2015-11-03 13:09] ruchitamanuja commented on #62
@HerinHentry
Do you want to change the About to 'Board and Staff' ?? Isn't the paragraph about TALA?
How about I put About TALA ??

[2015-11-03 13:20] ruchitamanuja commented on #63
@HerinHentry
I have no idea why this is in upper case.
I see them in lower case in the customize menu section:
@mr-bobz @mustanali - Could you please advise?
![image](https://cloud.githubusercontent.com/assets/15117771/10908994/dca415f8-8289-11e5-91b0-4eafbafcf5d0.png)

[2015-11-03 13:29] ruchitamanuja commented on #65
![image](https://cloud.githubusercontent.com/assets/15117771/10909146/0d2431e4-828b-11e5-905f-bfdbbdea0f2f.png)
Adjusted

[2015-11-03 13:35] ruchitamanuja commented on #64
@HerinHentry
![image](https://cloud.githubusercontent.com/assets/15117771/10909224/ac519964-828b-11e5-9367-95043bde17fa.png)
Do we have this logo from the client? If not, can we customize their logo? Maybe we need to check with Alysa.

[2015-11-03 13:50] ruchitamanuja commented on #66
![image](https://cloud.githubusercontent.com/assets/15117771/10909531/0d411d24-828e-11e5-8e83-8bb8b3788ae9.png)
Does this look better ?

[2015-11-03 14:12] christosptr opened #67 "JAWS set focus on the title of the page and announce it"
Reproduction steps
1 Start JAWS and keyboard to the menu

Actual Result
Just before the menu I hear
 "Texas accountant and lawyers for the arts (TALA)"

Expected Result
This is the title of the page and it should not have been announce in the middle of the page

[2015-11-03 14:20] christosptr opened #68 "JAWS announce read only when focus is set on the search box"
Reproduction Steps
Navigate to the search box with keyboard navigation

Actual Result
When the focus is set on the search text area JAWS announce "Read only search region "
And announce the search multiple times,

This is confusing because when a text field is in read mode you are not suppose to be able to type in it

Expected
JAWS should announce Edit not Read and should announce the search only

[2015-11-03 14:22] christosptr commented on #68
Current HTML

<form action="http://talarts.knowbility.org" class="search-form" method="get" role="search">
                <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input type="search" title="Search for:" name="s" value="" placeholder="Search …" class="search-field">
                </label>
                <input type="submit" value="Sear

[2015-11-03 14:24] mr-bobz commented on #63
Fixed now, that was being done by the theme style (text-transform: uppercase;)

[2015-11-03 14:31] mr-bobz commented on #67
I have set site-title display to none, can you pls retest?

[2015-11-03 14:59] christosptr opened #69 "The header tag <h> need to be in order"
HTML Structure

When using Headers we should not skip a header for Example

Starting with h2
then having a h3

Is not correct

It should be H1 then H2 then H3

pages with this issues are
http://talarts.knowbility.org/services/whatwedo/
http://talarts.knowbility.org/about/boardandstaff/

[2015-11-03 15:00] christosptr opened #70 "Remove the <h2 class="screen-reader-text">Primary Menu</h2>"
Need to remove the HTML tag
<h2 class="screen-reader-text">Primary Menu</h2>

[2015-11-03 15:03] christosptr commented on #70
![capture](https://cloud.githubusercontent.com/assets/5661003/10911294/441740bc-8298-11e5-96bd-c14e808ee426.JPG)

[2015-11-03 15:04] christosptr commented on #70
This is one example all H2 should be H1 and all H3 should be H2

[2015-11-03 15:04] mr-bobz commented on #61
Changed focus outline to make it more prominent, check and let me know

[2015-11-03 15:07] mr-bobz commented on #60
Seems to be a known issue with the Site Origin Image Grid widget, should be fixed in next update:
https://siteorigin.com/thread/image-grid/

Else we have to use just a grid and add images one by one.

[2015-11-04 00:56] HerinHentry commented on #60
Yes. This is a site origin image grid's existing problem. Can you please
add a normal text editor and add the images?

On Wed, Nov 4, 2015 at 12:03 AM, ruchitamanuja notifications@github.com
wrote:

[2015-11-04 01:18] christosptr commented on #61
I also think a blue color is more appropriate. Like what chrome does on the forms
Green or red are the color most color blind people have issues with

[2015-11-04 01:20] christosptr commented on #67
Test and works fine on firefox. I need to test it next with the mini iPad when I go home

[2015-11-04 01:22] christosptr commented on #63
Verified

[2015-11-04 01:22] #63 closed, assigned to HerinHentry

[2015-11-04 01:25] christosptr commented on #33
verified with mini iPad. This is an issue with iPads once you zoom into the video you are able to see the caption button on the video player. Closing issue

[2015-11-04 01:25] #33 closed, assigned to mr-bobz

[2015-11-04 10:27] HerinHentry commented on #48
Excellent. Can close the issue.

[2015-11-04 10:27] #48 closed, assigned to HerinHentry

[2015-11-04 10:33] HerinHentry commented on #53
Can close this issue as the background is there. But, as the widget link does not work, will have to introduce another widget.

[2015-11-04 10:33] #53 closed, assigned to HerinHentry

[2015-11-04 10:39] HerinHentry opened #71 "Menu Issue _ Keyboard only navigation. Sub menu does not close"
Tab into the menu. From Services use the down arrow once to open the sub menu.
Now use the Tab. The Sub menu should close the focus shifts to Support.

Issue : Sub menu does not close.

![menu issue](https://cloud.githubusercontent.com/assets/15111528/10935737/30b634fc-833c-11e5-9c4f-cbc190c42991.png)

[2015-11-04 10:40] HerinHentry commented on #66
Much better. Closing issue.

[2015-11-04 10:40] #66 closed, assigned to HerinHentry

[2015-11-04 10:41] HerinHentry commented on #65
@anoopm7 Can you please give this a go?

[2015-11-04 10:43] HerinHentry commented on #64
@christosptr Can we please check if these colour themes need to be changed?

[2015-11-04 10:48] HerinHentry commented on #64
@ruchitamanuja I can't still see the image loaded. Can you please confirm if this is loaded?

[2015-11-04 10:55] HerinHentry commented on #62
This page contains About TALA & Board and staff.
The About details are already covered in What we do? page. I reckon this should be called as Board and Staff. But @ruchitamanuja , can you please confirm the content in both pages?

[2015-11-04 10:59] HerinHentry commented on #61
@christosptr : Do we have to check the colour contrast for the Focus indicator as well?

[2015-11-04 11:37] christosptr commented on #61
I do not think there is a check point for it but its good to have in mind

Cheers Christos
Send from my mobile device

On Wed, Nov 4, 2015 at 9:59 PM, HerinHentry notifications@github.com
wrote:

[2015-11-04 12:35] christosptr commented on #70
@HerinHentry The way to fix this was to add the h1 tag on the breadcrumb. This will fix the issues but there is something to this solution that does not resonate with me

What are you thought Herin?

[2015-11-04 12:36] christosptr commented on #67
verified on mini iPad as well the focus is not set on the title anymore
Thanks Bobby

[2015-11-04 12:36] #67 closed, assigned to christosptr

[2015-11-04 12:43] christosptr opened #72 "Menu and keyboard navigation"
Reproduction steps
1 Using keyboard navigate to the menu
2 Go on to the Services menu item
3 Click the down arrow to select the first submenu item.
4 Click the down arrow few time.

Expected result
The focus moves to the next menu item, The screen does not move

Actual result
Focus move to the next sub-menu item but the screen also move with it. Once we get to the last sub-menu item and continue p

[2015-11-04 12:43] christosptr commented on #72
@mr-bobz and @HerinHentry what do you guys think?

[2015-11-04 12:46] christosptr commented on #6
@HerinHentry I am not sure what the issues is here. Can you please give me a bit more information or close it if this is not an issues anymore?

Thanks Chris

[2015-11-04 12:48] christosptr commented on #46
@HerinHentry I am ok with the "Become Member" and "Become Volunteer". What do you think
@mr-bobz Bobby do you plan to fix this issue?

[2015-11-04 17:24] HerinHentry opened #73 "Reduce Space between the breadcrumbs and main content"
![top space issue](https://cloud.githubusercontent.com/assets/15111528/10946203/1406a3e4-8375-11e5-8574-2f5578a8914b.PNG)

[2015-11-04 17:27] HerinHentry commented on #72
@christosptr I agree. This is causing a flickering effect and distraction. Background is not locked.

[2015-11-04 19:22] HerinHentry commented on #6
Issue can be closed. Tabs removed

[2015-11-04 19:22] #6 closed, assigned to HerinHentry

[2015-11-04 19:35] HerinHentry opened #74 "Video does not have a caption track."
Video does not have a caption track.
Issue tested and identified using aXe for firefox. This is reported as a Critical WCAG AA failure.
Our code:
...video class="video-stream html5-main-video" style="width: 931px; height: 570px; left: 0px; top: -570px; transform: none;"....

Sample track element:
...video width="320" height="240" controls>
...track src="subtitles_en.vtt" kind="subtitles" srclang="

[2015-11-04 20:07] HerinHentry commented on #70
@christosptr The current structure is not proper structure.
Can we try this for few pages? This is the Home page suggestion.
![site outline](https://cloud.githubusercontent.com/assets/15111528/10950469/e1bb1d7c-838b-11e5-9c07-ae7d945d8ac1.png)

[2015-11-04 20:12] HerinHentry commented on #69
@christosptr
If we fix Issue 70 by adding <h1> to the Title element of the page, this issue will be resolved. The page structure looks good otherwise.
![what we do _ outline](https://cloud.githubusercontent.com/assets/15111528/10950645/d2ab468a-838c-11e5-9ed0-3b7502b0b5c2.PNG)

[2015-11-04 20:18] HerinHentry commented on #22
Can close this issue. Labels are present.

[2015-11-04 20:18] #22 closed, assigned to anmolpatel

[2015-11-04 22:24] HerinHentry opened #75 "Join Our E-list <b> to <em>"
<...b>Join our e-list</b>
Repair: Replace your b (bold) elements with em or strong.

<..em> — for stress emphasis in HTML5, i.e., something screen reader pronounce differently

[2015-11-04 22:37] HerinHentry opened #76 "Font Size of Primary menu to fit the Colour contrast requirement"
The Primary menu is only 12pts now. The visited link will fail the colour contrast requirement if it is too small. Making it 14 pt Bold will resolve this issue.

This is the px to point to em converter for reference : http://pxtoem.com/

![image](https://cloud.githubusercontent.com/assets/15111528/10954299/b1f05f98-83a0-11e5-98cd-54a75fa0dee4.png)

[2015-11-04 22:38] HerinHentry commented on #76
@christosptr : Do you agree to this?

[2015-11-04 23:03] HerinHentry opened #77 "Donate Page _ input controls do not have ID to associate them with corresponding labels"
Current Label on radio buttons:
<...label for="_dgx_donate_giving_level_100">
Friend:
<.../label>
<...input aria-labelledby="Friend radio" name="_dgx_donate_amount" checked="" value="100" data-conceal=".other-donation-level" type="radio">
$100
<.../span>

**Sample Code**
<...p>
<...label for="A">Sample:</label>
<...input type="radio" id="A" name="choice1" />
<.../p>

[2015-11-04 23:07] HerinHentry opened #78 "Donate _ Form radio buttons are not contained in Fieldset / Legend"
**Sample code**
<...fieldset>
<...legend>Donut Type</legend>
<...p>
<...input type="radio" name="flavour" id="choc" value="chocolate" checked="checked" />
<...label for="choc">Chocolate</label><br/>
<...input type="radio" name="flavour" id="cream" value="cream"/>
<...label for="cream">Cream Filled</label><br/>
<...input type="radio" name="flavour" id="honey" value="honey"/>
<..label for="honey">Ho

[2015-11-04 23:17] HerinHentry opened #79 "Donate _ Order of the field to be changed."
I think the First name (required) and then the text box is meaningful for the screen reader.Otherwise it confuses the screen reader users if the required belongs to next field.

![image](https://cloud.githubusercontent.com/assets/15111528/10955187/2a1c360e-83a6-11e5-9fdf-8f82388591a4.png)

@christosptr :Can you please comment on this issue and assign to @anmolpatel to fix?

[2015-11-04 23:17] HerinHentry commented on #44
Fixed. Can be closed.

[2015-11-04 23:17] #44 closed, assigned to anmolpatel

[2015-11-04 23:19] HerinHentry commented on #23
Issue fixed.
Can be closed.

[2015-11-04 23:20] #23 closed, assigned to anmolpatel

[2015-11-04 23:25] HerinHentry commented on #24
The contrast issue is fixed. But, the Colour and Aesthetics don't look good.Can we please clear the yellow background and make it white background and red text?
Using colour alone for information is not a problem as the text specifically says about the error.

**Suggestion : **
This is a required field can be changed to **This field is required**

![image](https://cloud.githubusercontent.com/asset

[2015-11-04 23:26] HerinHentry commented on #25
Issue fixed. required and optional added.

[2015-11-04 23:26] #25 closed, assigned to anmolpatel

[2015-11-04 23:33] HerinHentry commented on #60
@ruchitamanuja : Please add a visual editor and make our own grid to resolve the issue.

[2015-11-04 23:34] HerinHentry commented on #60
Also, please make rounded corners with css

[2015-11-04 23:35] HerinHentry commented on #61
I tested this with both monochrome & high colour contrast modes. This looks alright.
I think we should be able to close this issue if you agree with this. @christosptr

[2015-11-05 00:46] HerinHentry opened #80 "FAQ _ Duplicate / Test Page to be removed"
![image](https://github-cloud.s3.amazonaws.com/assets%2F15111528%2F10956821%2Fdb478e7c-83b2-11e5-972d-befa94fef68b.png)
us

[2015-11-05 00:48] HerinHentry opened #81 "Sign-up (join our E-list) is an external link. Is Jaws mentioning this as an external link?"
http://visitor.r20.constantcontact.com/d.jsp?llr=67lifhpab&p=oi&m=1115858153373&sit=lxc8balib&f=b119c4d1-f7ba-41c3-a67b-2afc56cca4fd

[2015-11-05 00:50] HerinHentry commented on #81
I tested this with NVDA. It's read as "Opens in new window"
Code in place : title="Subscribe to TALA Newsletters (opens new window)"

[2015-11-05 01:00] HerinHentry opened #82 "Sponsor Logos_ "Texas Commission on the Arts Logo" & "ATX Music Logo"_Inconsistency in alt text."
Every other Sponsor logo image does not have logo in the alt text.
The mentioned 2 to be changed to "Texas Commission on the Arts" for consistency

[2015-11-05 01:04] HerinHentry opened #83 "Knowbility Logo _ Graphic link opens in new window. Change alt text to mention its external link."
Knowbility _ External link _ Opens in new window. as alt text.

[2015-11-05 01:05] HerinHentry commented on #83
Use the same approach for the Sponsor logos as well.

[2015-11-05 01:15] HerinHentry opened #84 "Unlabelled Landmarks _ banner, Search, Main."
Other landmarks like Breadcrumb, footer-header, Social-links menu, Primary menu are labelled.
Please label banner, Search, Main

[2015-11-05 01:19] HerinHentry commented on #42
Format:
<...iframe src="banner-ad.html" id="testiframe"
  name="testiframe" title="Advertisement">

[2015-11-05 01:28] HerinHentry opened #85 "Author name, Calendar date on the Posts to be removed"
![image](https://github-cloud.s3.amazonaws.com/assets%2F15111528%2F10957450%2F8f61a316-83b8-11e5-9ba7-9279c5a129be.png)

![image](https://github-cloud.s3.amazonaws.com/assets%2F15111528%2F10957464%2Facd89972-83b8-11e5-87ff-898a8f64a37d.png)

[2015-11-05 01:29] HerinHentry commented on #85
@anmolpatel These posts are created not as pages. These are posts, and are added to the page with Cat list. These info do not match the colour contrast requirement as well. So, its important to remove it.

[2015-11-05 01:39] HerinHentry commented on #64
Please Copy this Logo from the TALA online site and load for now. This s just a decorative image. So please use " " for alt text.

[2015-11-05 01:43] HerinHentry opened #86 "Links pointing to TALA current live website."
Page : http://talarts.knowbility.org/643/

Visit our Dallas Week Events Page to learn more and register still links to Live website.But, this is a past event whose registration has closed. Instead should we use the word (Registration closed) inside this page and remove the link?

[2015-11-05 01:52] HerinHentry opened #87 "The events pagination links fail colour contrast"
http://talarts.knowbility.org/643/

@christosptr, @ruchitamanuja  : Can you please suggest a colour?

![image](https://github-cloud.s3.amazonaws.com/assets%2F15111528%2F10957780%2Fb0aa1faa-83bb-11e5-8e84-ca685da0e765.png)

[2015-11-05 02:53] HerinHentry commented on #65
@anoopm7 Also, can you please move Copyright © 2011-2015 All rights reserved to the end ? It should be the last item on the page.

[2015-11-05 02:56] HerinHentry opened #88 "Post URLs are not consistent"
Few posts have the URLs as post name and few have the id. Can you please check?

http://talarts.knowbility.org/the-austin-chapter-of-the-texas-society-of-cpas-presents-nonprofit-financial-class/
http://talarts.knowbility.org/october-7-estate-planning-for-austin-artists/
http://talarts.knowbility.org/643/

@christosptr : Do we need to include the id/post? I think Title is better as its announced by

[2015-11-05 03:14] HerinHentry opened #89 "Event Posts should be child pages of Event page & not home page"
![image](https://cloud.githubusercontent.com/assets/15111528/10958946/5dff99ea-83c7-11e5-96ce-12e346b3cca8.png)

@anoopm7 : Can you please see the settings?
@mr-bobz : Do you know of any quick fixes for this?

This applies to all the 4 posts in the Event page.

[2015-11-05 03:17] HerinHentry opened #90 "Formatting issue in What we do? page"
![image](https://cloud.githubusercontent.com/assets/15111528/10959002/e1929a50-83c7-11e5-9dd7-8719a01058ce.png)

[2015-11-05 03:21] HerinHentry opened #91 "Formatting issue Do I Qualify ? & membership page"
http://talarts.knowbility.org/services/do-i-qualify/
http://talarts.knowbility.org/services/membership/

As all the other pages have changed to one column, icons are not used anymore, we might need to change this to no icons page too.. The icons are occupying a lot more white space.
Please raise this issue in the next call and let's decide.

[2015-11-05 03:33] HerinHentry opened #92 "Publications page _ The word icons need to be of same size"
http://talarts.knowbility.org/services/publications/

[2015-11-05 03:39] HerinHentry commented on #92
@anoopm7 : The icons that are selected are two different icons. word_icon-300x300.png & 150 by 150 it seems. Can you please change it to one?
I think I accidentally changed this.

[2015-11-05 03:42] HerinHentry opened #93 "Tag missing _ Parsing error on Volunteers page"
<...div id="page"> <...div id="left"> <...div class="po...</div>
http://talarts.knowbility.org/support/volunteer/

[2015-11-05 03:42] anoopm7 commented on #65
done

[2015-11-05 03:43] HerinHentry opened #94 "Volunteer page"
Volunteer Interest Questionnaire :  http://www.tfaforms.com/351526

This should be mentioned to open in new window

[2015-11-05 03:43] anoopm7 commented on #65
however I also need to move social media icons. how do I move them? Is this controlled from css?

[2015-11-05 03:54] HerinHentry commented on #65
Please do not touch the Social media icons.
Looks much better now.
Move the Website Last Modified: Nov 5, 2015 - 12:44 PM to End as well. It should be below the knowbility logo. Can we give it a go?

[2015-11-05 05:34] mr-bobz commented on #69
Done, pls check again now, tx

[2015-11-05 05:39] mr-bobz commented on #92
Our theme already supports icon for these, better to use it
http://mtomas.com/389/tiny-forge-framework-child-themes-comprehensive-guide#Using-icon-webfont-to-style-links-to-PDF-and-other-documents

[2015-11-05 05:44] christosptr opened #95 "duplicate id found on donate page"

[2015-11-05 05:47] christosptr opened #96 "Donate page: Usability with the donations table"
The radio button when selecting donation starts from $100 to $5000
While the table start with 5,000 to 100 dollars

Change the table to also start with 100 dollars and increase as you move each row to match the radionbutton order

[2015-11-05 05:49] mr-bobz commented on #92
I have enabled auto icon for attachments. Remove your icons. Also note that first link points to an image, not the doc file.

[2015-11-05 05:51] mr-bobz commented on #49
Done

[2015-11-05 05:51] mr-bobz commented on #92
Done the changes, pls recheck now, thanks

[2015-11-05 05:58] christosptr opened #97 "Donation page replace <article> tag with a div"
Change the following tag
<article itemtype="http://schema.org/Article" itemscope="" class="post-205 page type-page status-publish hentry" id="post-205">

with a div
<div  itemtype="http://schema.org/Article" itemscope="" class="post-205 page type-page status-publish hentry" id="post-205">

[2015-11-05 06:01] mr-bobz commented on #84
Done, please check, thanks

[2015-11-05 06:13] mr-bobz commented on #75
Done

[2015-11-05 07:17] mr-bobz commented on #56
Had to do some hacks, should be working now :-)

[2015-11-05 07:20] mr-bobz commented on #54
Title was already added, adding aria-label="Opens New Window" too. Please recheck now.

[2015-11-05 07:21] mr-bobz commented on #50
Changed to matching patterns

[2015-11-05 08:02] mr-bobz commented on #42
YouTube removes the iframe title some times, added an aria-label also as backup

Also replaced SiteOrigin embed with direct iframe and tweaked youtube params

[2015-11-05 08:35] HerinHentry commented on #42
<...iframe width="960" height="570" class="youtube-player" src="http://www.youtube.com/embed/FprQKc0bCKY?fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent&amp;controls=2&amp;disablekb=1&amp;modestbranding=1&amp;rel=0" frameborder="0" aria-label="Promotional Video">TALA promotional video by Pitch...</iframe>

@christosptr Can you please advise on this? Title has been r

[2015-11-05 08:44] ruchitamanuja commented on #62
There is no heading/title anymore:
![image](https://cloud.githubusercontent.com/assets/15117771/10963584/9be06b30-83f5-11e5-818b-7a1f5e5cdb65.png)

[2015-11-05 08:50] ruchitamanuja commented on #64
I have added this blue logo for now. We would need to check with Alysa for updated logo.

[2015-11-05 08:57] HerinHentry commented on #49
Excellent! Issue is fixed.

[2015-11-05 08:57] #49 closed, assigned to HerinHentry

[2015-11-05 08:58] HerinHentry commented on #50
Looking good. Issue can be resolved.

[2015-11-05 08:58] #50 closed, assigned to HerinHentry

[2015-11-05 09:32] HerinHentry commented on #91
Agreed at the call that this icons can be removed.

[2015-11-05 09:32] christosptr commented on #84
verified

[2015-11-05 09:32] #84 closed, assigned to HerinHentry

[2015-11-05 09:33] christosptr commented on #76
yes I agree

[2015-11-05 09:54] ruchitamanuja commented on #82
I have removed the logo from Alt text

[2015-11-05 09:57] ruchitamanuja commented on #60
@HerinHentry
Can you please have a look at the home page. As there are 7 logos i have put 4 in top row and 3 in bottom row. However the sizes of the logos are different for bottom row.
Should the logo's still be on white background?? Or should we change this to transparent? I dont think the white background logos are looking nice.

[2015-11-05 10:02] ruchitamanuja commented on #83
Fixed

[2015-11-05 10:04] ruchitamanuja commented on #94
Fixed

[2015-11-05 10:06] mr-bobz commented on #73
Done

[2015-11-05 10:43] christosptr opened #98 "Home page need to change h3 to h2"
Mission Statement
and
Do I Qualify for TALA Assistance?

Have H3 and need to change to h2

I change all pages and this is the only one I can not figure out where to do it.
When I go in read more about the Mission Statement the Mission statement is in h2

[2015-11-05 10:44] christosptr commented on #98
@HerinHentry did you say you created this page?

[2015-11-05 10:44] anmolpatel commented on #96
Someone has already fixed the issue, please re-check and close the issue
Thanks to whoever fixed it

[2015-11-05 10:46] christosptr opened #99 "iframe on the home page missing a title"
Code with the issue
<iframe width="960" height="570" frameborder="0" src="http://www.youtube.com/embed/FprQKc0bCKY?fs=1&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent&amp;controls=2&amp;disablekb=1&amp;modestbranding=1&amp;rel=0" aria-label="Promotional Video" class="youtube-player">TALA promotional video by Pitch Productions</iframe>

Suggested Solution
<iframe title="

[2015-11-05 10:50] christosptr commented on #96
@anmolpatel I did sorry forgot to close the defect

[2015-11-05 10:50] #96 closed, assigned to nobody

[2015-11-05 11:10] anoopm7 commented on #86
Is this still an issue? I see Herin you have already updated the text. Please advice.

[2015-11-05 11:14] #35 closed, assigned to nobody

[2015-11-05 11:16] christosptr commented on #86
@anmolpatel I have fixed this as well closing issue

[2015-11-05 11:16] #86 closed, assigned to HerinHentry

[2015-11-05 11:17] HerinHentry opened #100 "Parsing Error for Bread crumb navigation _ W3c Nu Validator"
![image](https://cloud.githubusercontent.com/assets/15111528/10966918/ef007a2a-840a-11e5-87de-069287def0cf.png)
![image](https://cloud.githubusercontent.com/assets/15111528/10966937/0fb22412-840b-11e5-9107-62a50a5a2b1c.png)

[2015-11-05 11:18] christosptr commented on #90
@HerinHentry Can you please check this again, I cannot see this issue

[2015-11-05 11:20] anoopm7 commented on #88
Currently this setting is already configured to postname in wordpress settings. The default setting is ID, which is no longer used. For the URL http://talarts.knowbility.org/643/ I have updated this manually.

[2015-11-05 11:21] anoopm7 commented on #88
Having post names helps with SEO and postnames are easier to bookmark/remember.

[2015-11-05 11:23] HerinHentry commented on #99
@christosptr : Duplicate issue #42

[2015-11-05 11:24] anmolpatel commented on #79
Aesthetic wise it will not look good, thats why i kept it at the end. [ First Name: (required) ___________ ]
Can I instead append an asterisk: First Name: \* to indicate required field ?

[2015-11-05 11:26] HerinHentry commented on #56
Issue still happens. Search for TALA results have issues.
![image](https://cloud.githubusercontent.com/assets/15111528/10967095/4601e8ee-840c-11e5-865c-01c4a6898d6a.png)

[2015-11-05 11:29] HerinHentry commented on #60
@ruchitamanuja : As the Logos are going to be placed on a background, the while colour should be okay. Can you please check if the background can be changed and the logos can be resized to smaller size to fit in the screen in one line?

[2015-11-05 11:31] anmolpatel commented on #77
added the ID fields,
Please re-test

[2015-11-05 11:33] HerinHentry commented on #62
Board and Staff | Texas Accountants and Lawyers for the Arts (TALA)
What we do? | Texas Accountants and Lawyers for the Arts (TALA)
Issues resolved. Can be closed.

[2015-11-05 11:33] #62 closed, assigned to HerinHentry

[2015-11-05 11:34] anmolpatel commented on #95
@christosptr, which ID was it ?

[2015-11-05 11:39] HerinHentry commented on #64
Image loads. Can be closed.

[2015-11-05 11:39] #64 closed, assigned to HerinHentry

[2015-11-05 11:41] HerinHentry commented on #65
Alignment needs a little change as the logo and the date are in the same line
![image](https://cloud.githubusercontent.com/assets/15111528/10967383/54fc7b78-840e-11e5-8700-3f8c69aca6c5.png)

[2015-11-05 11:42] HerinHentry commented on #73
Spacing seems good. Issue can be closed.

[2015-11-05 11:42] #73 closed, assigned to HerinHentry

[2015-11-05 11:43] HerinHentry commented on #75
The Join our e-list text looks very big. It would be nice if it is the same size of the button.
![image](https://cloud.githubusercontent.com/assets/15111528/10967432/a3f483a6-840e-11e5-8962-b52cbae5589c.png)

[2015-11-05 11:45] HerinHentry commented on #82
Excellent! Issue can be closed.

[2015-11-05 11:45] #82 closed, assigned to HerinHentry

[2015-11-05 11:45] HerinHentry commented on #83
Excellent! Issue can be closed.

[2015-11-05 11:45] #83 closed, assigned to HerinHentry

[2015-11-05 11:47] HerinHentry commented on #88
Excellent!

Oct 1, 2015Nov 1, 2015 :  http://talarts.knowbility.org/october-estate-planning-for-artists/
28.TALA Dallas Week :  http://talarts.knowbility.org/tala-dallas-week/
29.The Austin Chapter of the Texas Society of CPAs Presents: Nonprofit Financial Class :  http://talarts.knowbility.org/the-austin-chapter-of-the-texas-society-of-cpas-presents-nonprofit-financial-class/
30.October 7: Estate

[2015-11-05 11:47] #88 closed, assigned to HerinHentry

[2015-11-05 11:50] HerinHentry commented on #91
@anoopm7 Can you please also check the extra spacing in the do-i-qualify page?
![image](https://cloud.githubusercontent.com/assets/15111528/10967556/5ad85f98-840f-11e5-91ab-62f81974f083.png)

Also, membership page can be made into single column page as screen reader focus has issues.
http://talarts.knowbility.org/services/membership/

[2015-11-05 11:52] HerinHentry commented on #92
Fixed, Issue can be closed.

[2015-11-05 11:52] #92 closed, assigned to HerinHentry

[2015-11-05 11:56] HerinHentry commented on #94
Issue resolved. Can be closed.

[2015-11-05 11:56] #94 closed, assigned to HerinHentry

[2015-11-05 11:59] HerinHentry commented on #98
@christosptr : The structure looks good now for Home Page. I will check other pages later on,
![image](https://cloud.githubusercontent.com/assets/15111528/10967747/d14b3c08-8410-11e5-96d5-44bff06055c0.png)

[2015-11-05 12:06] HerinHentry commented on #95
![image](https://cloud.githubusercontent.com/assets/15111528/10967849/95b2f28e-8411-11e5-97d4-692ecdb9b5b3.png)

![image](https://cloud.githubusercontent.com/assets/15111528/10967853/a22f14a2-8411-11e5-9aff-95fd07a88549.png)

![image](https://cloud.githubusercontent.com/assets/15111528/10967865/b0ba212e-8411-11e5-808c-a39f4be77532.png)

[2015-11-05 14:10] christosptr commented on #95
thanks herin

Cheers Christos
Send from my mobile device

On Thu, Nov 5, 2015 at 11:06 PM, HerinHentry notifications@github.com
wrote:

[2015-11-06 00:49] HerinHentry opened #101 "Verify Staff names in Board and Staff page"
Please confirm the names as per TALA's request.
Staff
Angela Lee, Legal Director
Alissa McCain, Executive Director

[2015-11-06 01:04] HerinHentry opened #102 "Remove the word **icon** from the 3 entry point images in Home page."
No need to mention the word **icon** in the images. Screen readers do announce this as **graphic** link.

<...img src="/wp-content/uploads/2015/11/member.png" alt="**member icon**" width="48" height="48" /><br />
<...img src="/wp-content/uploads/2015/10/volunteer.png" alt="**volunteer icon**" width="48" height="48" /><br />
<...img src="/wp-content/uploads/2015/10/support.png" alt="**support icon*

[2015-11-06 01:26] HerinHentry opened #103 "<br> element in the middle of the anchor element is confusing for Braille users"
I am testing the website for Braille users with Text only browser Lynx. The 3 entry points have line break inbetween and hence displayed in 2 line.

![image](https://cloud.githubusercontent.com/assets/15111528/10986741/cb110276-8480-11e5-8b83-fe2b1ccd218b.png)

Code : <...a href="/services/membership/"><span class="member"><...img src="/wp-content/uploads/2015/11/member.png" alt="member icon" widt

[2015-11-06 01:51] HerinHentry opened #104 "Youtube video _ Intro needed"
While testing with screen reader, after the Do I qualify section, NVDA reads the title "TALA promotional video by pitch productions". But, it would be good to give a little blurb (one liner as text before the video to day what it is about & mention the youtube is caption supported).

For example
A <..H2> Pitch Productions _ Nicole Elmer & Blair Dancy talks about TALA services on this video
<..em>

[2015-11-06 01:54] HerinHentry commented on #42
@mr-bobz : The youtube player controls like share, cc, play and every control was getting keyboard focus when it was a site origin embed. But, now the youtube does not receive keyboard focus other than play. Also, the keyboard focus on the play is not visible. I tested this with Chrome, Firefox, IE. Same issue.

[2015-11-06 05:32] mr-bobz commented on #103
This wouldn't be an issue when we use images from @manuum. So no point fixing now.

[2015-11-06 05:34] HerinHentry commented on #103
Excellent! Thank you.

On Fri, Nov 6, 2015 at 4:32 PM, Bobby Joseph notifications@github.com
wrote:

[2015-11-06 05:35] mr-bobz commented on #75
What browser is above screenshot from? It looks fine (same size as button font) for me.
@anmolpatel, can you pls change to a span and style using CSS instead?

[2015-11-06 05:37] HerinHentry commented on #90
@christosptr This issue has been fixed. Closing now.

[2015-11-06 05:37] #90 closed, assigned to ruchitamanuja

[2015-11-06 05:38] mr-bobz commented on #100
@anmolpatel, try moving the role=region to the child div from h1.

[2015-11-06 05:39] HerinHentry commented on #102
This can be fixed with the new images from @manuum

[2015-11-06 05:40] HerinHentry commented on #101
Issue can be closed. This was raised for tracking.

[2015-11-06 05:40] #101 closed, assigned to HerinHentry

[2015-11-06 05:41] HerinHentry commented on #75
Looks good now. Not sure what has happened earlier. Closing the issue.
![image](https://cloud.githubusercontent.com/assets/15111528/10990249/40665214-84a5-11e5-9b25-6cea08d21f68.png)

[2015-11-06 05:41] #75 closed, assigned to anmolpatel

[2015-11-06 05:44] HerinHentry commented on #79
I think the screen reader users are used to hearing \* for required field. So this shouldn't be an issue.
@christosptr : What do you think about this?

[2015-11-06 05:45] HerinHentry commented on #65
![image](https://cloud.githubusercontent.com/assets/15111528/10990325/d403eab8-84a5-11e5-8138-121a347f82a7.png)

Issue resolved. Can be closed.

[2015-11-06 05:45] #65 closed, assigned to anoopm7

[2015-11-06 05:48] HerinHentry commented on #61
![image](https://cloud.githubusercontent.com/assets/15111528/10990353/1cf1aa62-84a6-11e5-9296-022c244cbf76.png)
Focus visible. Can be closed.

[2015-11-06 05:48] #61 closed, assigned to christosptr

[2015-11-06 05:50] HerinHentry commented on #60
The logos have href. Can be closed.

[2015-11-06 05:50] #60 closed, assigned to ruchitamanuja

[2015-11-06 05:52] HerinHentry commented on #46
@manuum Will it be possible to get one image with Become a Member and one with Become Member?
@christosptr I did a google check and it's standard practice to use Become a member.
![image](https://cloud.githubusercontent.com/assets/15111528/10990400/cc0debdc-84a6-11e5-9477-095e076f7e5c.png)

[2015-11-06 05:53] HerinHentry commented on #51
This is happening on Android mobiles.

[2015-11-06 05:55] HerinHentry commented on #54
It works now. But, the Open new window is announced twice as NVDA announces both Title and Aria-Label. This is not an accessibility constraint. So, the issue can be closed.

[2015-11-06 05:55] #54 closed, assigned to christosptr

[2015-11-06 05:56] mr-bobz commented on #42
Should be fixed now, pls retest, thanks

[2015-11-06 05:56] mr-bobz commented on #104
Added, please check

[2015-11-06 05:57] HerinHentry opened #105 "Sponsor Logos need a background border to make it more clear & resize to fit into singleline."
![image](https://cloud.githubusercontent.com/assets/15111528/10990452/642d8300-84a7-11e5-9e3f-db7998812904.png)

[2015-11-06 06:01] HerinHentry opened #106 "Reduce spacing to fit the content into same sized boxes"
![image](https://cloud.githubusercontent.com/assets/15111528/10990495/f6f2f12a-84a7-11e5-8fc8-24253c40f206.png)

[2015-11-06 06:04] HerinHentry commented on #104
Thanks. Looking good. But, a small suggestion...
**Nicole Elmer from Pitch Productions & Blair Dancy from TALA talk about our services in this video**
Will probably be the proper heading as it says who these people are...
@mr-bobz Do you think this will be good?

[2015-11-06 06:19] mr-bobz commented on #104
Would be too long for a heading (h2), I think it is too much details

[2015-11-06 06:20] mr-bobz commented on #98
Done

[2015-11-06 06:22] mr-bobz commented on #70
please retest now, tx

[2015-11-06 06:28] HerinHentry commented on #104
How about TALA_promo Video as a heading and these lines go as a <..p> below?

[2015-11-06 06:35] HerinHentry opened #107 "User gets confused between TALA Logo & Join our elist."
As tabbing thru the Aria-label and Title are announced one after the other. It might look like TALA logo opens in new window.

@christosptr & @mr-bobz :Can you please suggest possible solution for this?

**Image from NVDA speech viewer**
![image](https://cloud.githubusercontent.com/assets/15111528/10990928/7a14589c-84ac-11e5-8dbf-142512783f69.png)

[2015-11-06 06:43] HerinHentry opened #108 "Sign up Now Text & Title do not match"
This is an accessibility concern for low vision users who use Screen reader + magnifier. When the user hears Subcribe to TALA news letters, he/she will be looking for the same text for the button. We have to be consistent with the visual name & screen reader title.

**NVDA speech viewer**
![image](https://cloud.githubusercontent.com/assets/15111528/10991016/9409619c-84ad-11e5-9ed9-c2f9529986b2.png

[2015-11-06 06:51] HerinHentry opened #109 "TALA Promotional Video by pitch productions on top of the youtube player _opens in new window"
![image](https://cloud.githubusercontent.com/assets/15111528/10991153/f5b7961a-84ae-11e5-9307-80767025beff.png)

This opens in new window. But, not announced.

[2015-11-06 06:55] HerinHentry commented on #42
It's working now. This is the speech view of the NVDA. Are we able to tweak **Button unavailable & blank?**

![image](https://cloud.githubusercontent.com/assets/15111528/10991190/6c15bd6e-84af-11e5-9e2f-9dd611523921.png)

[2015-11-06 07:00] HerinHentry commented on #77
[Donate Page_Issues.pdf](https://github.com/mr-bobz/talarts/files/28671/Donate.Page_Issues.pdf)

@anmolpatel : Please find the Automated report from Achecker.ca.
This still has issues.

[2015-11-06 07:05] HerinHentry opened #110 "Parsing Error _ FAQ page"
![image](https://cloud.githubusercontent.com/assets/15111528/10991346/8f163518-84b0-11e5-83f2-4235b9d225e5.png)

![image](https://cloud.githubusercontent.com/assets/15111528/10991368/bd3da426-84b0-11e5-98f5-093073148e98.png)

![image](https://cloud.githubusercontent.com/assets/15111528/10991371/cf23751c-84b0-11e5-9c96-41632c177f21.png)

[2015-11-06 07:09] HerinHentry opened #111 "Disclaimer text (in yellow background) on Home page & whatwedo page needs to be included in tabbing"
http://talarts.knowbility.org/
http://talarts.knowbility.org/services/whatwedo/

As these are the very important messages, these needs tab index to be set. This will add a point to exemplary efforts.

[2015-11-06 07:16] HerinHentry opened #112 "Is it possible to set the Post Titles as H3?"
Given below is the outline of the Events page. The Posts need to be H3 under the Upcoming Events and Past Events.

![image](https://cloud.githubusercontent.com/assets/15111528/10991562/74c7b608-84b2-11e5-8cd8-7cb1844f3a7b.png)

[2015-11-06 11:16] HerinHentry commented on #108
As per judging form
If the image consists of text, the alt-text should convey the same information and the alt text should be the same or clearer.  Each active image without appropriate alt text or lacking an alt attribute is an error.

[2015-11-06 11:20] HerinHentry commented on #102
These are decorative icons. Alt text =" " is best practice.
![image](https://cloud.githubusercontent.com/assets/15111528/10995893/6c3cbe62-84d4-11e5-9c1d-5c742a38e074.png)

[2015-11-06 11:38] HerinHentry opened #113 "When CSS styling turned off, menu is not accessible. (colour contrast)"
This is to track the conversation we had in testing channel in Slack.
![image](https://cloud.githubusercontent.com/assets/15111528/10996191/fb7601d6-84d6-11e5-9958-3a177e09859d.png)

[2015-11-06 11:46] HerinHentry opened #114 "Decorative images have anchor & href."
This image is a decorative image only. This does not need an alt text & href. Current alt text is set to " " " " (4 quotes). Change to 2 quotes.

**http://talarts.knowbility.org/the-austin-chapter-of-the-texas-society-of-cpas-presents-nonprofit-financial-class/**

![image](https://cloud.githubusercontent.com/assets/15111528/10996272/c44a1890-84d7-11e5-94fd-32f9a8142ae2.png)

<...a href="/wp-conten

[2015-11-06 13:16] mustanali commented on #72
@christosptr @HerinHentry @mr-bobz I have fixed it.Now when you are on menu and use up and down arrow key the page wont scroll.

[2015-11-06 13:16] mustanali commented on #72
@christosptr please verify the scroll.I am closing the issue now.

[2015-11-06 13:31] HerinHentry opened #115 "Broken link http://talarts.knowbility.org/support/donate/ in Home page entry point Support"

[2015-11-06 13:44] HerinHentry commented on #72
@mustanali The scroll issue is still happening.

On Sat, Nov 7, 2015 at 12:17 AM, mustanali notifications@github.com wrote:

[2015-11-06 13:45] mr-bobz commented on #115
What is broken there? Page loads fine for me

[2015-11-06 13:46] HerinHentry commented on #115
Donate is no longer a child page of Support. Looks like it's part of Home now.

[2015-11-06 13:46] mr-bobz commented on #115
Whoever changed it should make sure to update all links too :)

[2015-11-06 13:48] HerinHentry commented on #115
Not sure.. Why is this changed?

[2015-11-06 13:56] HerinHentry opened #116 "Home page has 2 H1 tags"
I am not sure if this is a duplicate issue that is being tracked with another defect. But, raising this to track.

1) <...h1 role="region" aria-label="breadcrumb navigation"><...div id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><...strong class="breadcrumb_last">Home

2) <...header class="entry-header">
            <...h1 class="entry-title" itemprop="headline">Home</h1>
<.../h

[2015-11-06 14:08] HerinHentry opened #117 "Link to underline on focus"
Note from judging from **point 8 : additional differentiation such as underlining is provided when the link is hovered over or receives focus.**

Read more on TALA Assistance... & Read more on TALA mission... These 2 links initially have the underlines and the underlines are removed when it receives focus. This is contradicting the requirement.

Please make the link to underline on hover / receive

[2015-11-06 14:12] HerinHentry opened #118 "Read more link Colour contrast fails"
![image](https://cloud.githubusercontent.com/assets/15111528/10998876/83c1841a-84ec-11e5-9144-17746c65988b.png)

[2015-11-06 14:23] mr-bobz commented on #111
Done

[2015-11-06 14:24] HerinHentry commented on #76
Alternative Colour suggestions
Background : #393939
Links : #83CDBC
Active links : #F88A52 / #FF884C

But, this will fail with the Gradient. :(
So we might need another on focus / hover colour as well.

![image](https://cloud.githubusercontent.com/assets/15111528/10998970/4ee83904-84ed-11e5-9bb4-b27f7ad627d5.png)
![image](https://cloud.githubusercontent.com/assets/15111528/10999089/35cbe726-84ee-1

[2015-11-06 14:31] mr-bobz commented on #117
done

[2015-11-06 14:37] HerinHentry commented on #117
Excellent! Works now. Can be closed.

[2015-11-06 14:37] #117 closed, assigned to HerinHentry

[2015-11-06 14:37] mustanali commented on #72
Herin confirmed again it works except for FF.

[2015-11-06 14:38] HerinHentry commented on #111
Excellent! works now. Closing issue!

[2015-11-06 14:38] #111 closed, assigned to HerinHentry

[2015-11-06 14:39] mustanali commented on #59
@HerinHentry @christosptr fixed now.

[2015-11-06 14:39] #59 closed, assigned to HerinHentry

[2015-11-06 14:39] mr-bobz commented on #116
Fixed

[2015-11-06 14:39] mr-bobz commented on #115
Fixed

[2015-11-06 14:39] mustanali commented on #71
@HerinHentry @christosptr fixed now.

[2015-11-06 14:39] #71 closed, assigned to HerinHentry

[2015-11-06 14:43] HerinHentry commented on #115
Works. Can be closed.

[2015-11-06 14:43] #115 closed, assigned to HerinHentry

[2015-11-06 14:47] mr-bobz commented on #112
Changed Upcoming Events to h2 and post titles to h3

[2015-11-06 15:09] HerinHentry commented on #42
@mr-bobz Please see my previous comment. As well as I found that the youtube player is receiving focus in IE & firefox, Not on Chrome. What could be the reason for this?

[2015-11-06 15:11] christosptr commented on #98
I also fixed the issue on the FAQs. This now looks good. closing defect

[2015-11-06 15:11] #98 closed, assigned to christosptr

[2015-11-06 15:13] HerinHentry commented on #116
We cannot have 2 tags for the same heading text. one says H1 and the other says H2. Can you please change this? Do we need to have 2 displayed?

![image](https://cloud.githubusercontent.com/assets/15111528/11000302/053f5e60-84f5-11e5-801a-de18d784ec7c.png)

[2015-11-06 15:14] mr-bobz commented on #109
I have disabled that in youtube via some params. But still there is a 'Watch on You Tube' control at the bottom right corner. Can't remove it as it comes from youtube.

[2015-11-06 15:16] HerinHentry commented on #112
This structure doesn't seem to properly fit in...
Upcoming events & past events should be under Events. Not the same level. Can we please change?
![image](https://cloud.githubusercontent.com/assets/15111528/11000362/665f5434-84f5-11e5-8140-de6d1a667aa9.png)

[2015-11-06 15:20] christosptr commented on #42
Hi Herin i find that focus on chrome is received on the play button in the
middle of the video then you can play the video. Once you start playing the
video the rest of the controls are shown. but the focus is set at the end
of the video
so you need to press shift + tab to get to the video player. When you press
the shift tab and the focus is set on the video player you first here the
menu been an

[2015-11-06 15:20] HerinHentry commented on #109
The full screen is currently disabled. clicking on this brings this page.
https://support.google.com/youtube/answer/6276924
If we support Text resize, I think we should also support full screen view. Is this disabled by youtube or by our code? Is there any way to fix this?

[2015-11-06 15:22] mr-bobz commented on #108
It is not an image. Anyway, should be fine now.

[2015-11-06 15:23] mr-bobz commented on #116
The second h2 tag is not displayed! I will see whether it could be avoided altogether.

[2015-11-06 15:26] mr-bobz commented on #116
Fixed

[2015-11-06 15:28] HerinHentry commented on #116
Will check with screen reader.

[2015-11-06 15:29] mr-bobz commented on #112
<H2>Events</H2> was hidden. Removed now.

[2015-11-06 15:30] HerinHentry commented on #116
@mr-bobz Only one Home announced in NVDA
breadcrumb navigation region
Home
If we cannot fix this we can check with JAWS and close the issue.
Please assign to @christosptr to check with Jaws.

[2015-11-06 15:36] HerinHentry opened #119 "24. Language _ Pro bono"
1. Language Changes. The human language of each passage or phrase in the content can be programmatically determined, except for proper names, technical terms, words of indeterminate language, and words or phrases that have become part of the vernacular of the immediately surrounding text. Identify language changes within a page. Any failure is score of 0.

Pro-bono is a Latin word (https://en.wiki

[2015-11-06 15:37] mr-bobz commented on #109
Not our code, @christosptr pls check video settings on youtube. Seems you may have disabled full screen when embedded!

[2015-11-06 15:39] mr-bobz commented on #116
What needs to be fixed now? You need both Home?

[2015-11-06 15:40] mr-bobz commented on #116
Second 'Home' was hidden already, not generated now.

[2015-11-06 15:43] mr-bobz commented on #104
Anyone should be able to make above change

[2015-11-06 15:44] HerinHentry opened #120 "Sitemap fails Colour contrast"
![image](https://cloud.githubusercontent.com/assets/15111528/11001074/6549102c-84f9-11e5-9f7d-9090a1f5860d.png)

[2015-11-06 15:47] mr-bobz commented on #119
I'm not sure what needs to be done here, perhaps @ruchitamanuja would be the right person?

[2015-11-06 15:47] christosptr commented on #112
I have verified the events page and it looks ok now. @HerinHentry can I close it?

[2015-11-06 15:49] mr-bobz commented on #56
What is the issue now? We don't show page title for any of the pages, only bread crumb.

The title on breadcrumb and browser matches, as like other pages.

[2015-11-06 15:51] mr-bobz commented on #57
Why do you want to show detailed page link when there is no more information on the page/post?

[2015-11-06 15:57] HerinHentry opened #121 "Sitemap _ Heading structure not present"
Site map do not have a heading structure. Everything is a link.
@christosptr : Will this be an issue?

[2015-11-06 16:12] HerinHentry commented on #112
If the upcoming events list is H3, other past events should also be displayed as H3.
Can we modify that? User will expect the same behaviour in both lists.

![image](https://cloud.githubusercontent.com/assets/15111528/11001818/79166e16-84fd-11e5-9411-eb6f3f7a1472.png)

[2015-11-06 16:18] HerinHentry commented on #119
@christosptr : What do you think about this? Normally this is applicable to longer poems / phrases.

Can you please check this?
http://www.w3.org/TR/2015/NOTE-WCAG20-TECHS-20150226/H58.html

[2015-11-06 16:19] HerinHentry commented on #116
Excellent.Can be closed.

[2015-11-06 16:19] #116 closed, assigned to HerinHentry

[2015-11-06 16:20] HerinHentry commented on #108
<...a title="Sign Up Now (opens new window to 3rd party site)" class="btn btn-custom-black" aria-label="Opens New Window" href="http://visitor.r20.constantcontact.com/d.jsp?llr=67lifhpab&amp;p=oi&amp;m=1115858153373&amp;sit=lxc8balib&amp;f=b119c4d1-f7ba-41c3-a67b-2afc56cca4fd" target="_blank">Sign Up Now<.../a>

Excellent. Can be closed.

[2015-11-06 16:20] #108 closed, assigned to HerinHentry

[2015-11-06 16:21] HerinHentry commented on #104
@christosptr Can you please change as suggested?

[2015-11-06 16:24] HerinHentry commented on #56
I think we need a link to the page from the search results that could take us to the right page. The image I have shown does not have the link. The results are not consistent as the pages are displaying link (As they have longer content) & posts not displaying links.
How can we fix this inconsistency?

[2015-11-06 16:25] HerinHentry commented on #57
The users expectation is to take to the actual page. As we have to keep the user experience consistent (especially for accessibility) this link is necessary.

[2015-11-06 16:27] HerinHentry commented on #57
This is the normal user experience. Title + content excerpt.
![image](https://cloud.githubusercontent.com/assets/15111528/11002191/6b41e804-84ff-11e5-990a-5a3dbd39ce75.png)

![image](https://cloud.githubusercontent.com/assets/15111528/11002223/a03943c2-84ff-11e5-8d36-a5fdcd901581.png)

[2015-11-06 16:31] christosptr commented on #121
I do not think this will be a problem with the site map

[2015-11-06 16:31] #112 closed, assigned to christosptr

[2015-11-06 16:34] HerinHentry opened #122 "FAQ Page_Accordion does not support Keyboard navigation"
When The keyboard focus is on
**How can I get assistance from TALA ?**
Tabbing sets the focus to the facebook icon. It does not go to the next levels of FAQ Accordion.

[2015-11-06 16:40] christosptr commented on #122
you need to use the arrow keys
the accessibility page also has instruction on how to use it

Cheers Christos
Send from my mobile device

On Sat, Nov 7, 2015 at 3:34 AM, HerinHentry notifications@github.com
wrote:

[2015-11-06 16:43] HerinHentry commented on #121
@christosptr : The sitemap does not display the posts (Past Events & upcoming events). Will this be an issue?

[2015-11-06 16:45] HerinHentry commented on #72
@christosptr : I tested on IE and Chrome. This scroll issue does not seem to happen. But, Firefox still has the issue. Can you please confirm this at your end?

[2015-11-06 16:46] HerinHentry commented on #107
Issue can be closed. Fixed with the Signup issue.

[2015-11-06 16:46] #107 closed, assigned to nobody

[2015-11-06 16:54] HerinHentry commented on #122
@christosptr , The Navigate with in the Accordion   > Left and right Or Up and down arrow keys is not working for me. The Left / right also goes to the next level heading.
The arrow keys are only working for the 2nd accordion.

Tab into Accordion 1 header > Use down arrow (Goes to Accordion 2 header) > Use Enter (Accordion opens) > Use Tab (Enters into accordion 2 content) > Tab again... (goes to

[2015-11-07 00:59] christosptr commented on #121
Generally the sitemap is to show the structure of the website
Not sure about this? It can go either way based on each judge.
It they were simply posts/comments you do not want that to show on the website structure but we post events which are important information.

[2015-11-07 03:11] HerinHentry commented on #121
Can we please check with steve to check accessibility of site map?

Sent from my phone

<div>-------- Original message --------</div><div>From: Christos Petrou notifications@github.com </div><div>Date:07/11/2015  11:59 AM  (GMT+10:00) </div><div>To: mr-bobz/talarts talarts@noreply.github.com </div><div>Cc: HerinHentry herinnisha@gmail.com </div><div>Subject: Re: [talarts] Sitemap _ Heading structu

[2015-11-07 03:14] christosptr commented on #122
are you still having a problem. I have retested it with Chrome and firefox with and without JAWS and is fine for me

[2015-11-07 03:52] HerinHentry commented on #122
@christosptr It's still not working for me. I think I found the issue.

The ARIA roles are not nested in the right order. Hence the issue.
The Tablist role must include child elements with role="tab".
Currently, Tabpanel is nested with in the role tab. Hence the keyboard navigation is not working as expected.

Please see below for the demo of Tab. (This can be used for Accordion as well)

http://w

[2015-11-07 04:02] christosptr opened #123 "Donation Page check boxes after the label (cognitive)"
Hi @anmolpatel

Can you please change the check boxes to be first

Also I still issues with the donation page: For example the name is not announced.
Are you still working on this or have you finish the implementation?

[2015-11-07 04:02] christosptr commented on #123
![image](https://cloud.githubusercontent.com/assets/5661003/11013406/980600c6-8560-11e5-9e74-0ec9b1e4aef8.png)

[2015-11-07 04:03] anmolpatel commented on #77
issues fixed, please re-test, the content is all dynamically loaded, so achecker will not pick up on it
@HerinHentry @christosptr

[2015-11-07 04:05] anmolpatel commented on #123
fixed!
was only a temporary change

[2015-11-07 04:06] anmolpatel commented on #123
@christosptr

[2015-11-07 04:13] HerinHentry opened #124 "Accessibility page _ Heading structure issue"
The whole table is embedded in the H3 tag.
![image](https://cloud.githubusercontent.com/assets/15111528/11013442/153385e0-8562-11e5-941f-ebc4ed3909bc.png)

[2015-11-07 04:17] HerinHentry opened #125 "Accessibility page _ Two different font sizes used in the page"
http://talarts.knowbility.org/footer/accessibility/
![image](https://cloud.githubusercontent.com/assets/15111528/11013457/ac3718a8-8562-11e5-9904-1f2f52771ae5.png)

[2015-11-07 04:18] HerinHentry opened #126 "Accessibility page _ A little blub needed before the page as an intro for the users"
Please check the accessibility page online from different organisations (Coles for example), and provide a little blurb before the tables.

**Also please change the heading to Menu Navigation, FAQ to FAQ Page_ Tab Navigation**

![image](https://cloud.githubusercontent.com/assets/15111528/11013465/deb6f0aa-8562-11e5-9a89-cb3b7701ccbb.png)

[2015-11-07 04:24] HerinHentry opened #127 "Titles are inconsistent in menu items"
**This has proper title set**
<...a title="TALA | Events" href="/events/">Events<.../a>

**The menu says board and staff and title says about us**
<...a tabindex="-1" title="**TALA | About Us**" href="/about/boardandstaff/">**Board and Staff**<.../a>

**This menu items and every other menu item does not have a title set**
<...a tabindex="-1" href="/services/whatwedo/">What we do?<.../a>

Can you p

[2015-11-07 04:29] HerinHentry opened #128 "Social media icons _ Youtube should open in a new page (set target blank)"
Twitter & Facebook opens in a new window. But, youtube is an external site and it opens in the same window.
**As well as please set titles to announce they are external links**
![image](https://cloud.githubusercontent.com/assets/15111528/11013492/3f720ac8-8564-11e5-85a2-7dbdee484b1e.png)

[2015-11-07 04:32] HerinHentry opened #129 "mailto:info@talarts.org : Clarification needed"
Hi @christosptr , the mail to opens up the outlook / other email client configured on the site. Should this be announced as open in new window?

[2015-11-07 04:38] HerinHentry opened #130 "Footer _ Knowbility logo & modified date need to be separated by a div as they display in one line on IE."
![image](https://cloud.githubusercontent.com/assets/15111528/11013531/74bcd73e-8565-11e5-8761-5e4a809c37f3.png)

![image](https://cloud.githubusercontent.com/assets/15111528/11013533/81720c24-8565-11e5-8ae8-b312836b88a7.png)

[2015-11-07 04:43] christosptr commented on #123
ok

[2015-11-07 04:44] christosptr commented on #123
thanks @anmolpatel

[2015-11-07 04:50] HerinHentry opened #131 "H28: Providing definitions for abbreviations by using the abbr element"
TALA is an Abbreviation. As per WCAG2.0 we have this guideline. Are we supposed to use this? If thats the case should we use in Home page alone?

It's not part of the scoring criteria . But, we can include this in the judgement form.

H28: Providing definitions for abbreviations by using the abbr element

<...p>Welcome to the <...abbr title="World Wide Web">WWW<.../abbr>!<.../p>

[2015-11-07 05:53] christosptr opened #132 "AVT3 Header need the aria-label removed"
JAWS announce too much information and is confusing and unclear

Actual Code
<header itemtype="http://schema.org/WPHeader" itemscope="" aria-label="page banner" role="banner" class="site-header" id="masthead">

Solution
<header itemtype="http://schema.org/WPHeader" itemscope="" role="banner" class="site-header" id="masthead">

[2015-11-07 06:04] christosptr opened #133 "Sing up button need some improvements to remove duplicate information"
Remove the aria-label and change the title of the link
Currert HTML
<a aria-label="Opens New Window" target="_blank" class="btn btn-custom-black" title="Sign Up Now (opens new window to 3rd party site)" href="http://visitor.r20.constantcontact.com/d.jsp?llr=67lifhpab&amp;p=oi&amp;m=1115858153373&amp;sit=lxc8balib&amp;f=b119c4d1-f7ba-41c3-a67b-2afc56cca4fd">Sign Up Now</a>

Solution
<a href="http:/

[2015-11-07 06:07] mr-bobz commented on #121
Added events also to Sitemap

[2015-11-07 06:12] christosptr opened #134 "The address in the footer need the address tag"
Current HTML
<div id="panel-w563b37a3b87c0-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child"><div class="textwidget"><p style="text-align: left;">TALA, PO Box 144722, Austin, TX 78714</p>

<p style="text-align: left;">Phone 1: 512.459.8252<br> Phone 2: 800.526.8252<br> Fax: 512.247.2538<br> Email: <a href="mailto:info@talarts.org">info@talarts

[2015-11-07 06:30] mr-bobz commented on #134
Done

[2015-11-07 06:39] mr-bobz commented on #133
Removed aria-label. On the title, I suggest you and @HerinHentry discuss first and come to a conclusion, I just changed yesterday night :-)
https://github.com/mr-bobz/talarts/issues/108

[2015-11-07 06:43] mr-bobz commented on #132
Done

[2015-11-07 06:47] HerinHentry commented on #133
Different screen reader and browser combinations announce the title and aria label differently.

We need to do some more analysis before avtioning this item.

Some do not announce title and some do not announce aria labels. 

Cheers, 
Herin 

Sent from my phone

<div>-------- Original message --------</div><div>From: Christos Petrou notifications@github.com </div><div>Date:07/11/2015  5:04 PM  (GM

[2015-11-07 07:08] christosptr commented on #133
JAWS announce both and is quite destructing. What does NVDA do

[2015-11-07 07:16] mr-bobz commented on #128
Above is not custom code, it comes from Social Menu. Added external site info. Removing YouTube since it doesn't open in new window (looks like a bug)!!

[2015-11-07 07:30] mr-bobz commented on #120
Should be fine now, pls recheck, thanks

[2015-11-07 08:00] mr-bobz commented on #118
I think you are testing against the pattern color. I have made it lighter, should be fine now. Pls check again, tx

[2015-11-07 08:28] ruchitamanuja commented on #114
Fixed.

[2015-11-07 08:39] ruchitamanuja commented on #125
h3 tag was incorrectly used. Fixed to have a close tag '/h3' which was missing

[2015-11-07 08:49] ruchitamanuja commented on #130
@HerinHentry  Can you please try again i added a div. Also it was working fine on my IE even before I did any changes to it. But I am on Edge maybe that is why.
![image](https://cloud.githubusercontent.com/assets/15117771/11014403/9ba18d4a-8588-11e5-96b0-f61783d01082.png)

[2015-11-07 09:23] mr-bobz commented on #87
Fixed

[2015-11-07 10:04] mr-bobz commented on #76
Pls check again, changed whole menu theme to avoid violations!

[2015-11-07 10:08] mr-bobz commented on #76
14pt would be too large for the menu!

[2015-11-07 10:30] christosptr commented on #76
the new menu is fine now
I see not high contrast violations

Cheers Christos
Send from my mobile device

On Sat, Nov 7, 2015 at 9:08 PM, Bobby Joseph notifications@github.com
wrote:

[2015-11-07 10:34] christosptr commented on #118
verified

[2015-11-07 10:34] #118 closed, assigned to HerinHentry

[2015-11-07 10:36] christosptr commented on #129
I think this is okay. Users know that they will be using their own mail software. However we could add an aria-label to say this. I will need to check it

[2015-11-07 10:36] ruchitamanuja commented on #127
@HerinHentry
I have added the titles to the menu items. But do we need the "TALA | " prefix for them ? Or should I just remove them and have e.g Events?

[2015-11-07 10:44] christosptr commented on #124
@HerinHentry
I do not see a table having a h3. Can you please check again

[2015-11-07 10:47] christosptr commented on #51
Guys what do we want to do with this one @mr-bobz @anmolpatel @HerinHentry

[2015-11-07 10:47] HerinHentry commented on #133
Hi @christosptr & @mr-bobz : I am testing with NVDA 2015 + Firefox combination.
The current setting is read as
        Sign Up Now **(Anchor text)**
        visited  link
         Sign Up Now (opens new window to 3rd party site) **(Title element)**

When tested with NVDA + IE, the current setting is read as
        Sign Up Now
        link
**Title is not announced**

If we change as per @christosp

[2015-11-07 10:49] HerinHentry commented on #128
Youtube link has been removed. Issue can be closed.

[2015-11-07 10:49] #128 closed, assigned to HerinHentry

[2015-11-07 10:57] christosptr opened #135 "The footer is not displayed on HTC mobile"
![image](https://cloud.githubusercontent.com/assets/5661003/11014805/664e1930-859a-11e5-9e2e-a441d54ee7fb.png)

The footer is not displayed on HTC mobile so I am not able to navigate to the site map, the home page and the accessibility page

[2015-11-07 11:00] christosptr commented on #133
ok lets leave it as is then.

My thought though is that we should be developing correctly and not doing work around.
When browsers and screen readers fix their issues we will be left with broken websites

[2015-11-07 11:01] christosptr commented on #70
verified

[2015-11-07 11:01] #70 closed, assigned to christosptr

[2015-11-07 11:02] christosptr commented on #69
verified

[2015-11-07 11:03] christosptr commented on #68
verified

[2015-11-07 11:03] #68 closed, assigned to mr-bobz

[2015-11-07 11:04] #69 closed, assigned to christosptr

[2015-11-07 11:16] ruchitamanuja commented on #127
@HerinHentry
Am I removing the Prefix here??

[2015-11-07 11:30] mr-bobz commented on #58
I believe this issue is fixed. Had to Disable 'Mobile Theme' in Jetpack plugin

[2015-11-07 11:34] mr-bobz commented on #56
If the original issue is fixed, pls close this defect.

There is another for the 'inconsistency': #57

[2015-11-07 11:36] mr-bobz commented on #51
Should be fixed now.

Duplicate of #58?

[2015-11-07 11:38] HerinHentry commented on #76
There is no contrast violations for the foreground colours used & background. We are meeting the contrast 3:1.
But, @christosptr  Can you please advise on this?
**G183: Using a contrast ratio of 3:1 with surrounding text and providing additional visual cues on focus for links or controls where color alone is used to identify them**.
When we say surrounding text, is this including other meu items?

[2015-11-07 11:40] mr-bobz commented on #42
We cannot change/tweak/override contents in an iframe, especially when loaded from an external url. Only other option is to find an accessible video player plugin for wordpress

[2015-11-07 11:41] mr-bobz commented on #7
Please retest, working fine on Note 1. Thanks!

[2015-11-07 11:43] mr-bobz commented on #135
I think we have around 3-4 defects on this same issue :-)  Fixed now, pls retest. Working fine on my Note.

[2015-11-07 11:44] christosptr commented on #134
@mr-bobz Hi Bobby all the contact details need to be in the address tag
this include the phone numbers as well.

[2015-11-07 11:45] mr-bobz commented on #106
Reducing space won't fix it. We need to size the boxes according to the tallest one. I will check

[2015-11-07 11:45] #123 closed, assigned to christosptr

[2015-11-07 11:47] christosptr commented on #76
verified

[2015-11-07 11:47] #76 closed, assigned to christosptr

[2015-11-07 11:53] christosptr commented on #81
I test it also and it can stay as it is

[2015-11-07 11:53] #81 closed, assigned to christosptr

[2015-11-07 12:04] HerinHentry commented on #7
Issue can be closed. Footer working now.

[2015-11-07 12:04] #7 closed, assigned to HerinHentry

[2015-11-07 12:12] HerinHentry commented on #42
*_34. Video (20 points).  *_
For video with soundtrack, provide synchronized captions.  Provide an html text description for video without sound.  In addition, provide synchronized audio description if the video cannot by understood from the soundtrack alone. If not synchronized, audio description must be provided as text with the video link. Each instance of inadequate accommodation is an error.

[2015-11-07 12:28] HerinHentry commented on #56
Hi @mr-bobz : I think I didn't make it clear earlier.
This is not the page title of the Search results page.This is the page link / page title of each results.

Something like (page link / excerpt of content)

User Experience issue: When the user uses element list to navigate only 3 results are shown in the element list. But the page has 4 results. Which means, the **information displayed for a si

[2015-11-07 12:31] HerinHentry commented on #87
Works. Issue can be closed.
![image](https://cloud.githubusercontent.com/assets/15111528/11015171/9b88840c-85a7-11e5-8666-b5a0e4ae5907.png)

[2015-11-07 12:31] #87 closed, assigned to HerinHentry

[2015-11-07 12:31] HerinHentry commented on #114
Issue can be closed.

[2015-11-07 12:31] #114 closed, assigned to HerinHentry

[2015-11-07 12:35] HerinHentry commented on #120
Excellent! Issue can be closed.

[2015-11-07 12:35] #120 closed, assigned to HerinHentry

[2015-11-07 12:37] HerinHentry commented on #124
![image](https://cloud.githubusercontent.com/assets/15111528/11015190/72895738-85a8-11e5-8388-14713ebb4951.png)
Looks like a H3 nesting issue earlier. Issue has been resolved & can be closed.

[2015-11-07 12:37] #124 closed, assigned to HerinHentry

[2015-11-07 12:38] HerinHentry commented on #125
Excellent! Issue can be closed.

[2015-11-07 12:38] #125 closed, assigned to HerinHentry

[2015-11-07 12:39] HerinHentry commented on #127
Yes please.

[2015-11-07 12:55] HerinHentry opened #136 "Contrast Issues with achecker"
![image](https://cloud.githubusercontent.com/assets/15111528/11015254/09e2647e-85ab-11e5-9d49-9fd75371f4bf.png)

[2015-11-07 13:00] christosptr commented on #135
working Thanks @mr-bobz

[2015-11-07 13:01] #58 closed, assigned to ruchitamanuja

[2015-11-07 13:02] christosptr commented on #42
I think it fine the way it is. Closing this issue

[2015-11-07 13:02] #42 closed, assigned to christosptr

[2015-11-07 13:03] christosptr commented on #135
verified

[2015-11-07 13:03] #135 closed, assigned to christosptr

[2015-11-07 13:04] christosptr commented on #121
great I have tested it and is there now closing defect

[2015-11-07 13:04] #121 closed, assigned to christosptr

[2015-11-07 13:08] ruchitamanuja opened #137 "Join our e-list and Sign Up Now positioning be fixed in mobile"
In mobile the Join our e-list and Sign Up now are not positioned well.
This needs to be fixed.

![sign up now and join our list](https://cloud.githubusercontent.com/assets/15117771/11015294/daebfb2e-85ac-11e5-8f08-5ded4f023695.png)

[2015-11-07 13:28] HerinHentry commented on #130
Issue can be closed.

[2015-11-07 13:28] #130 closed, assigned to HerinHentry

[2015-11-07 13:34] HerinHentry opened #138 "Publications page uses table for layout."
http://talarts.knowbility.org/services/publications/

Please change the table to a layout page builder. No need for table on this page.
This is an accessibility issue.

[2015-11-07 13:39] ruchitamanuja commented on #127
@HerinHentry
I have gone and removed the TALA | for the titles but this is now not showing the titles at all for the menus. It works only if put TALA | or anything else before the name.  I have left Events menu with TALA| so you can have a look at it.
@mr-bobz : Could you please advise , if something needs to be done for this to come across? I found this if it helps : https://wordpress.org/support

[2015-11-07 13:49] HerinHentry commented on #78
@anmolpatel : Fieldset does not contain a legend element. All fieldsets should contain a legend element that describes a description of the field group.
   <...fieldset>
     <...legend>Personalia:</legend>
     Name: <...input type="text"><br>
     Email: <...input type="text"><br>
     Date of birth: <...input type="text">
   <.../fieldset>

[2015-11-07 13:57] HerinHentry commented on #77
This is the NVDA speech view. The amount is not declared for a non sighted user. Please use
![image](https://cloud.githubusercontent.com/assets/15111528/11015440/42e93aa6-85b3-11e5-88d7-f912269a94b9.png)

<...label for="_dgx_donate_giving_level_100">Friend:<.../label>&nbsp;&nbsp;<...input aria-labelledby="Friend radio" id="_dgx_donate_giving_level_100" name="_dgx_donate_amount" checked="" value="1

[2015-11-07 14:11] ruchitamanuja commented on #105
@HerinHentry
I have recreated the logos and added them on the homepage. Please have a look and let me know if they look ok.
![image](https://cloud.githubusercontent.com/assets/15117771/11015516/acadc59a-85b5-11e5-99ce-36ec79bdfec8.png)

[2015-11-07 14:18] HerinHentry commented on #99
http://talarts.knowbility.org/
The Title attribute has been completely removed. This is an accessibility violation. Please include Title attribute. #42 was related to this and looks like this was removed as a fix for 42.

[2015-11-07 14:49] HerinHentry commented on #136
![image](https://cloud.githubusercontent.com/assets/15111528/11015665/e64d85f6-85ba-11e5-8f38-c0ce4e41d2fb.png)

[2015-11-07 15:21] ruchitamanuja commented on #138
Fixed. Let me know if the formatting is okay.

[2015-11-07 16:35] mr-bobz commented on #127
The Title is auto generated and set by the SEO plugin. It is in this format - <Site Title> | <Page Title>

eg: TALA | Events

So just make sure the pages have proper title set.

[2015-11-07 16:38] mr-bobz commented on #127
Use 'Quick Edit' in page list to quickly verify and change titles

[2015-11-07 17:02] mr-bobz commented on #127
I see that you are referring to menu items. How are we setting title for that? In the menu editor I see only label. And as far as I know links don't need a title when there is a label (link text).
https://silktide.com/i-thought-title-text-improved-accessibility-i-was-wrong/

[2015-11-07 17:04] mr-bobz commented on #127
Never mind, found that in customizer you can set a title. Removing for Events also.

[2015-11-07 17:13] mr-bobz commented on #137
Fixed

[2015-11-07 17:32] mr-bobz commented on #134
ok, done

[2015-11-07 17:40] mr-bobz commented on #56
If the user is looking for "links" only, yes he wont see all if the whole content is present and there is no link for more details. Then it is the same issue as #57.

This is the WP search behavior. We will have to either investigate using a plugin or making a custom search results page. I don't think either is worth spending time on now, unless someone is free to do so.

[2015-11-07 17:45] mr-bobz commented on #136
Fixed

[2015-11-07 21:40] HerinHentry commented on #56
Agree. Let's close this then.

Sent from my phone

<div>-------- Original message --------</div><div>From: Bobby Joseph notifications@github.com </div><div>Date:08/11/2015  4:40 AM  (GMT+10:00) </div><div>To: mr-bobz/talarts talarts@noreply.github.com </div><div>Cc: HerinHentry herinnisha@gmail.com </div><div>Subject: Re: [talarts] Search Results does not display the page title (#56) </div><div>
<

[2015-11-07 22:30] christosptr commented on #138
FYI if we use a table for layout then you can use the role=presentation and screen readers will ignore the table

[2015-11-07 22:32] christosptr opened #139 "JAWS when the focus is on the first menu item "Event" arrows do not work"
Using JAWS and setting the focus on the event menu items with JAWS I am not able to navigate the menu. If I press tab and set my focus on the menu item that has sub-menus then the arrows work

[2015-11-07 22:32] christosptr commented on #139
@mustanali @mr-bobz has the dev work for the menu now been completed?

[2015-11-07 23:23] anmolpatel commented on #95
Those cannot be changed as they all represent the same thing in the form structure
donate_user_amount --> is for the radio buttons
donation_header --> is for the legend in each section
errror_message --> shows up "This is a required field"

[2015-11-07 23:24] anmolpatel commented on #24
@HerinHentry please re-test

[2015-11-07 23:30] HerinHentry commented on #95
I had a look at them. They fit into requirement.  This issue can be closed.

Sent from my phone

<div>-------- Original message --------</div><div>From: Anmol notifications@github.com </div><div>Date:08/11/2015  10:23 AM  (GMT+10:00) </div><div>To: mr-bobz/talarts talarts@noreply.github.com </div><div>Cc: HerinHentry herinnisha@gmail.com </div><div>Subject: Re: [talarts] duplicate id found on dona

[2015-11-07 23:46] anmolpatel commented on #97
done!

[2015-11-08 00:13] anmolpatel commented on #77
going to try and change the layout for radio button to
(button) Friend ($100)
(button) Sponsor ($500)
...

@christosptr @HerinHentry, Please advice is this is a good solution or not!

[2015-11-08 00:15] anmolpatel commented on #78
added fieldset and legends to all sub sections

[2015-11-08 00:36] HerinHentry opened #140 "Menu width issues in mobile"
Primary menu and sub menu background does not align well. This is not an accessibility concern. But, good to fix if we have time. The indent is set on submenu items. It will be better if the menu backgrounds are of the same size.

[2015-11-08 00:40] HerinHentry commented on #140
I will attach screenshot later when i gwt to the laptop

[2015-11-08 00:44] HerinHentry opened #141 "Footer menu _ navigation for sitemap etc to be repositioned"
As it's good user experience to bring the contact, accessibility, sitemap link to front, I am fixing this.

[2015-11-08 00:46] HerinHentry opened #142 "Services page _ contrast issue for header elements in mobile"
Raising for tracking. Will recheck and advise
Also membership page
Mission statement page aswell

[2015-11-08 07:22] ruchitamanuja commented on #137
Issue fixed can be closed

[2015-11-08 07:22] #137 closed, assigned to ruchitamanuja

[2015-11-08 07:30] #57 closed, assigned to mr-bobz

[2015-11-08 10:48] HerinHentry commented on #140
![screenshot_2015-11-08-11-34-12](https://cloud.githubusercontent.com/assets/15111528/11019917/74fc7aee-8662-11e5-8378-4c0457a08b6b.png)

[2015-11-08 10:51] HerinHentry commented on #141
![screenshot_2015-11-08-11-42-08](https://cloud.githubusercontent.com/assets/15111528/11019928/d8fc6d92-8662-11e5-9b54-e27647dc623d.png)

[2015-11-08 10:57] anmolpatel commented on #77
added
(button) label ($value)

please re-test

[2015-11-08 10:57] anmolpatel commented on #79
done! Please re-test

[2015-11-08 11:22] HerinHentry commented on #141
As the fluid layout changed the view of items in mobile, I have changed the order. Earlier, the footer menu was after the address& copyright.

![image](https://cloud.githubusercontent.com/assets/15111528/11020047/24a58306-8667-11e5-9e83-377f239ab72e.png)

![image](https://cloud.githubusercontent.com/assets/15111528/11020054/3a23373c-8667-11e5-95d8-20135a79e903.png)

[2015-11-08 11:22] #141 closed, assigned to HerinHentry

[2015-11-08 11:25] HerinHentry commented on #142
Issue can be closed as this is a pass for large text.
![image](https://cloud.githubusercontent.com/assets/15111528/11020065/a8a68dc6-8667-11e5-9bc8-6d6236847cee.png)

[2015-11-08 11:25] #142 closed, assigned to HerinHentry

[2015-11-08 11:28] HerinHentry opened #143 "Headings in all caps need to be changed as this is a potential accessibility concern."
@christosptr : Can you please advise on this?

![image](https://cloud.githubusercontent.com/assets/15111528/11020070/dc1610f0-8667-11e5-9a5a-e756bad5c978.png)

identified in page : http://talarts.knowbility.org/services/whatwedo/
All other pages need to be checked.

[2015-11-08 11:47] christosptr commented on #134
Thanks Bobby. Verified

[2015-11-08 11:47] #134 closed, assigned to christosptr

[2015-11-08 11:49] christosptr commented on #132
Verified

[2015-11-08 11:49] #132 closed, assigned to christosptr

[2015-11-08 11:49] christosptr commented on #51
Verified

[2015-11-08 11:49] #51 closed, assigned to christosptr

[2015-11-08 11:50] HerinHentry commented on #138
Thank you @christosptr .
The page has been changed to be consistent with other pages. Hence closing this issue.

[2015-11-08 11:50] #138 closed, assigned to HerinHentry

[2015-11-08 11:51] HerinHentry opened #144 "Contact page _ Email ids not wrapping inside the cell in small screen device"
![screenshot_2015-11-08-11-53-15](https://cloud.githubusercontent.com/assets/15111528/11020170/2e176888-866b-11e5-9ddf-ee24febd1eca.png)

[2015-11-08 11:55] christosptr commented on #72
Same for me works for IE and Chrome but not with Firefox

[2015-11-08 11:56] christosptr commented on #74
@mr-bobz Hi Bobby is this possible to implemented with the YouTube player?

[2015-11-08 12:00] christosptr commented on #79
sorry for the late response @anmolpatel
You are correct to say that \* has been used for quite some time but this does not take in to consideration cognitive disabilities. I would suggest changing \*  with  (required)

[2015-11-08 12:02] christosptr commented on #143
This is a titile/section so for me it looks ok however it does look like screaming so it may look better if we change it to low case

[2015-11-08 12:02] christosptr commented on #109
will have a look

[2015-11-08 12:06] christosptr commented on #109
@mr-bobz and @HerinHentry Hi guys the full screen works on firefox but not on Chrome or IE

Herin can you please check this at your end for IE and Chrome

[2015-11-08 12:11] christosptr commented on #104
I tried to change it but when I do the text is not style correctly
Will give it another go now

[2015-11-08 12:14] HerinHentry commented on #72
@christosptr , @mustanali , @mr-bobz
This is a known issue with Firefox + NVDA combination. After a bit of research I found that Sub-menu opens up and **works like a charm with the Alt+Down arrow**

Finally.... Hurray... the menu is working.
@christosptr  : Can you please test this with JAWS (Tab for primary menus, Alt + Down ARROW to open submenus) and update the accessibility page.

The scroll i

[2015-11-08 12:16] christosptr commented on #104
@HerinHentry Just to clarify you want the <..em> This video is captioned.
to be after the video header
<..H2> Pitch Productions _ Nicole Elmer & Blair Dancy talks about TALA services on this video
and before the video player?

[2015-11-08 12:20] christosptr commented on #72
sure Thanks for this Herin

[2015-11-08 12:24] christosptr commented on #72
this does not work well with JAWS because it opens the file menu

[2015-11-08 12:26] christosptr commented on #72
I will do some more testing with JAWS tomorrow at the office with mustan and will see what can be done. I found that changing JAWS to virtual mode off then menu works so we may have to add it on the accessibility page

[2015-11-08 12:27] HerinHentry commented on #24
![image](https://cloud.githubusercontent.com/assets/15111528/11020330/3549e892-8670-11e5-8683-2e80500e4ac7.png)

Contrast passes Level AA. Can close this issue.

[2015-11-08 12:27] #24 closed, assigned to HerinHentry

[2015-11-08 12:27] HerinHentry commented on #56
Agree. This issue can be closed.

[2015-11-08 12:27] #56 closed, assigned to HerinHentry

[2015-11-08 12:34] christosptr commented on #126
@herin I have made some changes can you please have a look and let me know what you think

[2015-11-08 12:36] christosptr commented on #126
@ruchitamanuja @manuum
Hi guys can you also have a look at the accessibility page and tell me what you think

Cheers
Chris

[2015-11-08 12:39] HerinHentry commented on #78
Radio buttons Field set and Legend should be set only to the radio buttons. Not to the whole section.
Can you please redo this?
Please refer to http://webaim.org/techniques/forms/controls for the location of the tags.
![image](https://cloud.githubusercontent.com/assets/15111528/11020370/fafbf9da-8671-11e5-8f00-b7eb06713999.png)

[2015-11-08 12:47] HerinHentry commented on #136
Issues with mobile menus (Active Primary menu & selected submenu)

![image](https://cloud.githubusercontent.com/assets/15111528/11020405/13db748e-8673-11e5-8011-1bac959f3d0e.png)

![image](https://cloud.githubusercontent.com/assets/15111528/11020408/2e8a127c-8673-11e5-90c3-abdc7c6fb41a.png)

![screenshot_2015-11-08-15-23-35](https://cloud.githubusercontent.com/assets/15111528/11020396/e1b60bcc-867

[2015-11-08 12:48] christosptr commented on #80
@HerinHentry Hi Herin I do not see the FAQs to be remove. Can you please double check for me and close this defect?

[2015-11-08 12:49] christosptr commented on #95
Closing as per comment above

[2015-11-08 12:49] #95 closed, assigned to christosptr

[2015-11-08 12:51] HerinHentry commented on #80
@christosptr : The page has already been removed by mustan. Closing this issue.

[2015-11-08 12:51] #80 closed, assigned to HerinHentry

[2015-11-08 12:55] HerinHentry commented on #104
Hi @christosptr I think it's better to include all these details before the video.The users need to informed about it as the DOM receives info based on code order.

<..H2> Pitch Productions _ TALA Promo video
<...p> Nicole Elmer from Pitch Productions & Blair Dancy from TALA talk about TALA services in this video
<..em> Note: This video is captioned

[2015-11-08 12:58] HerinHentry commented on #129
Thank you @christosptr . I will leave this issue open to follow up with Steve. Assigning it back to you for adding to your to follow up list.

[2015-11-08 13:01] christosptr commented on #99
@ herin when I check the page in Wordpress I can see the title but when I inspect the code on the page I do not see the title of the video. Not sure what is going on here
@mr-bobz do you have any idea what is going on here?

![image](https://cloud.githubusercontent.com/assets/5661003/11020507/c88d00b8-8674-11e5-9e18-fd19d76db593.png)

[2015-11-08 13:02] HerinHentry commented on #105
![image](https://cloud.githubusercontent.com/assets/15111528/11020522/16d0f6b2-8675-11e5-9326-0c2d70b05c7e.png)

Looks good. Closing the issue.
Thanks

[2015-11-08 13:02] #105 closed, assigned to HerinHentry

[2015-11-08 13:05] christosptr commented on #133
@HerinHentry Can you please close this defect if there is not other changes you would like to happen

[2015-11-08 13:06] christosptr commented on #104
Done the change with the <..em> Note: This video is captioned

been between the header and the video player
@HerinHentry can you please close if you okay with it?

[2015-11-08 13:10] christosptr commented on #113
@HerinHentry can you please let me know how you do that so i can reproduce

[2015-11-08 13:12] christosptr commented on #131
Yes this is a very good point who can take this ?

[2015-11-08 13:12] christosptr commented on #131
I will see if i can make the change

[2015-11-08 13:23] #131 closed, assigned to christosptr

[2015-11-08 13:37] HerinHentry commented on #109
Full screen is  working on IE for me. Not working on Firefox and Chrome.
Looks like browser issues. I also checked the browser permissions. Doesn't seem to work.
Alternatively, If this video opens up in Youtube as full screen, then we can provide a link to youtube.
Please advise.

[2015-11-08 13:39] HerinHentry commented on #133
@christosptr : I think this issue can go to steve for confirmation. As he is a screen reader user, he will be able to comment on the behaviour.

[2015-11-08 13:40] HerinHentry commented on #143
Thank you @christosptr .Assigning to @anoopm7 to work on this issue.

[2015-11-08 13:42] HerinHentry commented on #127
@mr-bobz . Closing this issue. Thanks

[2015-11-08 13:42] #127 closed, assigned to HerinHentry

[2015-11-08 13:44] HerinHentry commented on #126
@christosptr : The page content looks good and logical now.

For NVDA + Firefox,

[2015-11-08 13:49] HerinHentry commented on #126
@christosptr : The accessibility page looks more logical now.
I recomment to close this issue.

@ruchitamanuja , @manuum  : I am closing this issue to clear the defects. Please reopen if you have any improvement suggestions.

[2015-11-08 13:59] christosptr commented on #119
If the word is now used in English then this does not require to have the Language Changes.

We should use this when sentences are written in characters other than Elglish
eg
If a name is written in Greek eg Χρήστος then we will need to do this

Do we have any cases like this one in the TALA website?

[2015-11-08 13:59] christosptr commented on #129
ok now worries

[2015-11-08 14:03] christosptr commented on #129
message send to steve on Slack

[2015-11-08 14:04] HerinHentry commented on #119
Excellent! Issue can be closed.

[2015-11-08 14:04] #119 closed, assigned to HerinHentry

[2015-11-08 14:04] christosptr commented on #133
will ask

[2015-11-08 14:04] HerinHentry commented on #113
@christosptr I used the Vision Australia tool bar to disable styles. This issue has been resolved as the menu went thru some changes. Closing issue.

[2015-11-08 14:04] #113 closed, assigned to HerinHentry

[2015-11-08 14:05] #126 closed, assigned to HerinHentry

[2015-11-08 14:07] HerinHentry commented on #104
Looks good. Issue can be closed.

[2015-11-08 14:07] #104 closed, assigned to HerinHentry

[2015-11-08 14:07] christosptr commented on #133
message send on slack

[2015-11-08 14:08] HerinHentry commented on #103
Issue can be closed as images are used for entry point now.

[2015-11-08 14:08] #103 closed, assigned to HerinHentry

[2015-11-08 14:08] christosptr commented on #122
I will ask steve for this one as well

[2015-11-08 14:10] HerinHentry commented on #79
@anmolpatel : In addition to @christosptr 's comment, please also make the (optional) to go with the same field order. Address 2:  has optional at end.

[2015-11-08 14:10] HerinHentry commented on #77
@christosptr : Can you please check this? I am also testing this.

[2015-11-08 14:11] christosptr commented on #109
I am not sure about this one :(

[2015-11-08 14:13] #97 closed, assigned to christosptr

[2015-11-08 14:18] mr-bobz commented on #143
Done, it was being changed via CSS in our theme. Actual heading is proper case!

[2015-11-08 14:23] mr-bobz commented on #140
I think it is by design to easily distinguish main menu items.

[2015-11-08 14:25] christosptr commented on #77
I have tested the donation page again

I cannot hear the labels of the text fields. I only hear edit field Also the radio buttons should announce the "I would like to make a donation in the amount of:" We can add this in the aria-label.

A fieldset should go around the following sections
Donation Information
Tribute Gift
Donor Information
Donor Address

[2015-11-08 14:28] HerinHentry commented on #77
@christosptr  #78 mentions about the fieldset. The fieldset has been set in the incorrect place now.
I have done the code inspection and advised on that. Can you please see if I my advise is valid?

[2015-11-08 14:30] mr-bobz commented on #99
As mentioned in #42, you tube seems to be removing the title we set.

Anyone interested to try this plugin instead of youtube?
https://wordpress.org/plugins/accessible-video-library/

[2015-11-08 14:31] christosptr commented on #109
@HerinHentry and @mr-bobz

This is what I have found for this issues
https://support.google.com/youtube/answer/6276924

It looks like this is an issues with the browser and not the settings on YouTube.

Can I close this issues

[2015-11-08 14:32] mr-bobz commented on #74
We cannot change youtube code. Perhaps will have to look for alternative player then.

[2015-11-08 14:33] HerinHentry commented on #143
Thanks @mr-bobz . Issue can be closed.

[2015-11-08 14:33] #143 closed, assigned to HerinHentry

[2015-11-08 14:55] HerinHentry opened #145 "Menu issue _ Right arrow navigation to be fixed"
Minor issue is the right arrow gets back to the parent menu when a submenu is open.

Expected behaviour is Esc / left arrow moves the focus back to the current parent menu, Right arrow moves the focus to next parent menu.

[2015-11-09 01:04] christosptr opened #146 "Suggestion for menu improvments"
Can we please add the following

Current HTML code
<nav itemtype="http://schema.org/SiteNavigationElement" itemscope="" aria-label="Primary Menu" role="navigation" class="main-navigation" id="site-navigation">

Suggested Code
<nav itemtype="http://schema.org/SiteNavigationElement" itemscope="" aria-label="Primary Menu. To navigate the menu with JAWS, turn JAWS Virtual Cursor Mode Off and use the a

[2015-11-09 01:33] mustanali commented on #146
Done!

[2015-11-09 02:17] #146 closed, assigned to christosptr

[2015-11-09 02:52] HerinHentry opened #147 "Membership Page & other long pages"
http://talarts.knowbility.org/services/membership/

The pages are very long and hence hard for the cognitive impaired users (using pointer devices/left hand mouse/huff and puff) to scroll thru the entire page. Is it possible to fix internal anchors with in the page to go to each section & then to top?

@christosptr : What are your thoughts on this?

![image](https://cloud.githubusercontent.com/ass

[2015-11-09 02:56] christosptr opened #148 "HTC high contrast layout issue with Contact page"
![screenshot_2015-11-09-09-48-46](https://cloud.githubusercontent.com/assets/5661003/11024952/acbde602-86e9-11e5-8c38-7c7b57434820.png)

[2015-11-09 02:57] christosptr commented on #148
The border on the right hand site is not all the way at the end and text lower on the page passed the border of the page to the right

[2015-11-09 03:00] christosptr commented on #147
Yes this is a good idea to add anchor tags to go to the top of the page at
the end of each section

Cheers Christos
Send from my mobile device

On Mon, Nov 9, 2015 at 1:52 PM, HerinHentry notifications@github.com
wrote:

[2015-11-09 03:11] HerinHentry commented on #109
@christosptr Yes. We can close this issue. I am closing now.

[2015-11-09 03:11] #109 closed, assigned to HerinHentry

[2015-11-09 03:32] HerinHentry opened #149 "Space in FAQ tabs is causing issues in mobile view _ A whole blank page (see screenshot)"
@christosptr : Can you please look into this and see if this needs to be fixed?
I think if we could make the boxes to by dynamic sice rather than fixed height, that will be good.

![image](https://cloud.githubusercontent.com/assets/15111528/11025294/7bfece60-86ed-11e5-95a7-6b574ceb54f9.png)

![screenshot_2015-11-09-14-24-56](https://cloud.githubusercontent.com/assets/15111528/11025383/78a02e52-86e

[2015-11-09 04:07] christosptr commented on #149
Yes I saw that too. I spoke with Mustan. He will have a look tonight
On 09/11/2015 2:32 PM, "HerinHentry" notifications@github.com wrote:

[2015-11-09 04:13] HerinHentry commented on #149
@christosptr . Thank you. Assigning to @mustanali .

[2015-11-09 04:56] HerinHentry opened #150 "Table missing summary in Donate Page"
<...table summary="This table of Contribution Levels gives
    the Level, Amount, Impact (row headings) of your generous donations">

With that summary, a person who is using a screen reader will have an overview of the table layout before he starts to read it.

[2015-11-09 04:58] christosptr commented on #150
Good catch I was also think that we need to move the table after the
donation form. What do you think. If people want more information they can
look at the end
On 09/11/2015 3:56 PM, "HerinHentry" notifications@github.com wrote:

[2015-11-09 05:05] HerinHentry commented on #150
@christosptr : I think the users need to know about the Contribution levels before they start deciding on what level they want to choose. Usability is to have it on top / to have a link (internal page anchor) to move to the location.
What do you think?

[2015-11-09 05:09] christosptr commented on #150
I understand the usability site of things but it feels that the table takes
to match real estate. Let me have a look again when I am at my computer.
On 09/11/2015 4:05 PM, "HerinHentry" notifications@github.com wrote:

[2015-11-09 08:01] mr-bobz commented on #147
Assigning back to you Herin as this could be done via WP itself, pls reassign to some one else in the team, tx

[2015-11-09 08:24] christosptr commented on #147
I will take it
On 09/11/2015 7:01 PM, "Bobby Joseph" notifications@github.com wrote:

[2015-11-09 08:24] mr-bobz commented on #144
By default wrapping occurs only with white space, changed CSS to break word

[2015-11-09 09:38] anmolpatel commented on #79
done!

[2015-11-09 09:50] anmolpatel commented on #78
<img width="749" alt="screen shot 2015-11-09 at 8 47 42 pm" src="https://cloud.githubusercontent.com/assets/4068650/11030600/3050bd4e-8723-11e5-8a81-0240641e5543.png">

<img width="717" alt="screen shot 2015-11-09 at 8 49 22 pm" src="https://cloud.githubusercontent.com/assets/4068650/11030638/64f1fefa-8723-11e5-8cbc-c0898f765c5c.png">

i dont understand why it is not done correctly, as per the str

[2015-11-09 09:53] anmolpatel commented on #77
for the aria label i've changed it to
I would like to make a donation in the amount of Friend ($100)
@christosptr  is that what you meant  ? :)

[2015-11-09 10:11] anmolpatel commented on #77
@christosptr @HerinHentry Please re-test issue with text field, it should be working now

[2015-11-09 10:59] anoopm7 commented on #147
herin please have a look and advise, if any changes. once its reviewed i can apply to other pages.

[2015-11-09 11:20] anoopm7 commented on #147
http://talarts.knowbility.org/testing-page/#link3
http://talarts.knowbility.org/testing-page/

Please check and reassign.

[2015-11-09 11:28] christosptr commented on #78
Hi Anmol here is an example of a field set

<fieldset>
    <legend>Personalia:</legend>
    Name: <input type="text"><br>
    Email: <input type="text"><br>
    Date of birth: <input type="text">
  </fieldset>

[2015-11-09 11:51] christosptr commented on #150
done! @HerinHentry  Can you please test and close

[2015-11-09 12:23] HerinHentry commented on #147
Thanks @anoopm7 . Please progress with what we discussed in slack. Will check tomorow.

[2015-11-09 12:24] HerinHentry commented on #144
![image](https://cloud.githubusercontent.com/assets/15111528/11033643/016fd31e-8739-11e5-9f18-065be513e308.png)
Can be closed.

[2015-11-09 12:24] #144 closed, assigned to HerinHentry

[2015-11-09 12:34] HerinHentry commented on #150
Table is accessible. Issue can be closed.

[2015-11-09 12:34] #150 closed, assigned to HerinHentry

[2015-11-09 12:59] anoopm7 commented on #147
http://talarts.knowbility.org/services/whatwedo/
http://talarts.knowbility.org/services/membership/

[2015-11-09 23:19] christosptr commented on #147
@anoopm7 and @HerinHentry This looks good
but i think it would be useful if we add the role="region" and an aria-label="Document Navigation"
on the following div in order to give some more information to the screen reader users
Current HTML
<div class="siteorigin-widget-tinymce textwidget">
Suggested HTML
<div class="siteorigin-widget-tinymce textwidget" role="region"  aria-label="Document Navigat

[2015-11-10 00:04] HerinHentry opened #151 "New video on Home page"
The current video player do not have captions supported.
@christosptr  : Are we able to provide the track for this and see if we can link them together?
![image](https://cloud.githubusercontent.com/assets/15111528/11050484/817b31be-879a-11e5-8d58-8ada47fdb4b4.png)
[Video_Code.txt](https://github.com/mr-bobz/talarts/files/30485/Video_Code.txt)

[2015-11-10 00:09] HerinHentry commented on #149
https://dequeuniversity.com/library/aria/tabpanels-accordions/tabbed-accordion
@mustanali : This accordion is good one. Please check.

[2015-11-10 00:42] HerinHentry opened #152 "Images on home page _ entry points & background missing alt text"

[2015-11-10 01:18] HerinHentry commented on #147
Thanks @christosptr . Valid one.
@anoopm7 : This looks great. One other i identified was
<...a href="#top">Move to top<.../a>
This link refers to anchor #top. But, there is no anchor set on membership page. Can you please look? What we do page has the anchor.

[2015-11-10 01:22] HerinHentry opened #153 "Contact page_Table needs summary attribute"

[2015-11-10 01:24] HerinHentry opened #154 "Accessibility page _ Tables do not have caption, scope, summary"

[2015-11-10 01:33] HerinHentry opened #155 "Remove testing page before submission of the site_tracking defect"

[2015-11-10 02:06] HerinHentry commented on #152
Fixed.

[2015-11-10 02:06] #152 closed, assigned to ruchitamanuja

[2015-11-10 02:16] mr-bobz commented on #102
Done

[2015-11-10 02:17] mr-bobz commented on #99
iframe removed

[2015-11-10 02:18] mr-bobz commented on #74
@christosptr you can now add caption via the new Accessible Video Library plugin.

Look for Videos section similar to Posts and Pages in wp admin.

[2015-11-10 02:19] mr-bobz commented on #34
Changed video implementation, pls retest

[2015-11-10 02:31] HerinHentry opened #156 "Video player_ Play, volume, Full screen do not have accessible names (ARIA-labels)"
![image](https://cloud.githubusercontent.com/assets/15111528/11052763/415c803c-87af-11e5-9881-685d33c4f5e0.png)

[2015-11-10 02:41] christosptr commented on #151
@HerinHentry has anyone change the link to the caption video? Is not an issue to fix this but it concerns me since we need to keep redoing work already completed. How can we be sure that no other parts of the website will not change and we simply miss report an issues and fix

[2015-11-10 02:43] HerinHentry commented on #153
fixed.

[2015-11-10 02:43] #153 closed, assigned to HerinHentry

[2015-11-10 03:01] christosptr commented on #151
aa yes I just saw there was work done to fix the issue that keyboard was getting trapped
All good
@mr-bobz and @HerinHentry
This is the link to the caption video
https://www.youtube.com/watch?v=FprQKc0bCKY

I tried to add it to the home page but is not working Bobby where do I need to make the change to point the video player to the correct url

[2015-11-10 03:04] christosptr commented on #151
Here are the trow file extensions for the captions. I change them to txt cause the .vtt and .sbv extensions are not supported

[captions.vtt.txt](https://github.com/mr-bobz/talarts/files/30566/captions.vtt.txt)
[captions.sbv.txt](https://github.com/mr-bobz/talarts/files/30565/captions.sbv.txt)

[2015-11-10 03:17] HerinHentry opened #157 "When there is no search results, pls display no results found on the page"

[2015-11-10 03:22] mustanali commented on #72
@christosptr i think this can be closed.I am assigning back to you

[2015-11-10 03:26] mustanali commented on #139
@christosptr I assume that the fix we did [added aria tags to enable the virtual mode].Should be fine now.Assigning back to you

[2015-11-10 03:26] HerinHentry opened #158 "Monochrome _ Accessibility Tool bar not working in IE"

[2015-11-10 03:27] HerinHentry opened #159 "Tool Tip needed for the Accessibility Tool bar buttons"

[2015-11-10 05:53] HerinHentry commented on #102
Can be closed as this is fixed.

[2015-11-10 05:53] #102 closed, assigned to HerinHentry

[2015-11-10 05:54] HerinHentry commented on #79
Can close this issue. Thanks

[2015-11-10 05:54] #79 closed, assigned to anmolpatel

[2015-11-10 05:56] mr-bobz commented on #159
I see that the buttons have this - <span class="offscreen">Toggle High Contrast</span>. So the screen reader should be reading it, why do we need a Tool Tip then?

[2015-11-10 05:58] mr-bobz commented on #136
Fixed

[2015-11-10 05:59] HerinHentry commented on #77
@anmolpatel : Text fields are looking okay. But, one small error. Can you please fix? Wrong id & label.
![image](https://cloud.githubusercontent.com/assets/15111528/11055528/3af94820-87cc-11e5-9f52-f8b19d8a6bef.png)

Checkboxes still have issues. I need to check that.
One fieldset does not have legend element. We need to check that as well.

[2015-11-10 06:01] HerinHentry commented on #159
For a sighted user, who is not very teechnical / not used to these icons, it's hard to understand.
I had the site reviewed by few people and this was one of the feedback. Especially colour contrast mode is only for sighted users. Hence this should be supported.

[2015-11-10 06:01] HerinHentry commented on #140
Ok. Can close this off.

[2015-11-10 06:01] #140 closed, assigned to mr-bobz

[2015-11-10 06:02] mr-bobz commented on #158
It is not our code, plugin implementation.

If required we can list this in known issues in our Accessibility page.

[2015-11-10 06:04] mr-bobz commented on #158
Also usually we need to be accessible only on one browser. For eg: IBM products claims accessibility only for Firefox as it is the most standards compliant browser.

[2015-11-10 06:24] HerinHentry commented on #158
@christosptr can we please include this in our accessibility page?

Sent from my phone

<div>-------- Original message --------</div><div>From: Bobby Joseph notifications@github.com </div><div>Date:10/11/2015  5:04 PM  (GMT+10:00) </div><div>To: mr-bobz/talarts talarts@noreply.github.com </div><div>Cc: HerinHentry herinnisha@gmail.com </div><div>Subject: Re: [talarts] Monochrome _ Accessibility To

[2015-11-10 06:24] HerinHentry commented on #158
Thanks @bobbyjoseph

Sent from my phone

<div>-------- Original message --------</div><div>From: Bobby Joseph notifications@github.com </div><div>Date:10/11/2015  5:02 PM  (GMT+10:00) </div><div>To: mr-bobz/talarts talarts@noreply.github.com </div><div>Cc: HerinHentry herinnisha@gmail.com </div><div>Subject: Re: [talarts] Monochrome _ Accessibility Tool bar not working in IE
  (#158) </div><div>
<

[2015-11-10 07:51] anmolpatel commented on #100
fixed!
added a jQuery to remove role from h1 and add it to div tag

[2015-11-10 07:54] anmolpatel commented on #77
fixed the error

[2015-11-10 07:54] anmolpatel commented on #77
whats the issue with checkboxes ?

[2015-11-10 08:18] mustanali commented on #145
Fixed with the assumption that there is no nested submenu within submenu.I had to disable my generic code that was handling opening of submenu within submenu using right arrow.But that doesnt matter but just FYI.Assigning to you @HerinHentry please verify and close.

[2015-11-10 08:24] mustanali commented on #149
Looks like FAQ page is changed again to the one without accordian.Not sure if intentionally.am i missing anything.

[2015-11-10 09:15] mr-bobz commented on #159
Added title via jQuery!

[2015-11-10 11:22] HerinHentry commented on #136
@mr-bobz Can you please have a look at this? 4 colour contrast issues with achecker.
[achecker_2015-11-10_11-19-37.pdf](https://github.com/mr-bobz/talarts/files/30785/achecker_2015-11-10_11-19-37.pdf)

[2015-11-10 11:23] HerinHentry commented on #149
It's back to the original one. Please look into the issue.

[2015-11-10 11:24] HerinHentry commented on #158
@christosptr : I am assigning this to you to include a accessibility statement on the page about Firefox as recommended browser. Please close this issue once done.

[2015-11-10 11:27] HerinHentry commented on #159
Excellent! Works now. Thank you.

[2015-11-10 11:27] #159 closed, assigned to HerinHentry

[2015-11-10 11:28] HerinHentry commented on #145
Issue fixed. Retest successful. Closing the issue

[2015-11-10 11:28] #145 closed, assigned to HerinHentry

[2015-11-10 11:51] christosptr commented on #74
Done

[2015-11-10 12:31] HerinHentry commented on #100
![image](https://cloud.githubusercontent.com/assets/15111528/11062429/062eab30-8803-11e5-9092-3f01aae71a4a.png)

[2015-11-10 12:51] #46 closed

[2015-11-10 12:52] HerinHentry commented on #157
fixed

[2015-11-10 12:52] HerinHentry commented on #157
To remove the search components inside the search results page.

[2015-11-10 13:00] anoopm7 commented on #147
@HerinHentry Added the top anchor
@mr-bobz
1. Is it ok to add the following css ? If yes, where?
ul.mbr{
white-space:normal;
padding-left:35px;
}
This css helps align and correct spacing in the link headers on memebrships and what we do page.

.2. role and aria-label tag mentioned above by chris :  Is this  injected during run time? If so, will you be able to add role and aria-label to it?

[2015-11-10 14:52] christosptr opened #160 "Breadcrub error with the aria-label"
HTML with Error
<h1 aria-label="breadcrumb navigation"><div id="breadcrumbs" role="region"><span xmlns:v="http://rdf.data-vocabulary.org/#">\<strong class="breadcrumb_last">Home</strong></span></div></h1>
The aria-label need to move from h1 to the div

<h1 ><div id="breadcrumbs" role="region" aria-label="breadcrumb navigation"><span xmlns:v="http://rdf.data-vocabulary.org/#">\<strong class="breadc

[2015-11-10 15:06] #99 closed, assigned to christosptr

[2015-11-10 15:06] christosptr commented on #151
done

[2015-11-10 15:08] christosptr commented on #148
done

[2015-11-10 15:08] #148 closed, assigned to nobody

[2015-11-10 15:09] christosptr commented on #34
done

[2015-11-10 15:09] #34 closed, assigned to christosptr

[2015-11-10 15:10] christosptr commented on #129
text should say "opens in default Email client"

[2015-11-10 15:11] christosptr opened #161 "Sign Up now Form"
Comments from Steve

"The signup form looks fine, fields and the drop-down are labeled.  Only thing I have to ask is does the form do any sort of in-line validation on the Email address?  Regardless, we may want to set type="email" rather than type="text" so that iOS will show the Email keyboard with the at symbol. "

[2015-11-10 15:17] mr-bobz commented on #161
Sign Up form is an external website, we cannot change anything there

[2015-11-10 15:18] christosptr commented on #161
ok will close then

[2015-11-10 15:18] #161 closed, assigned to nobody

[2015-11-10 15:21] mr-bobz commented on #160
Done

[2015-11-10 15:31] mr-bobz commented on #157
Done

[2015-11-10 15:36] mr-bobz commented on #157
For future reference, the original issue was caused as a side effect of this fix - https://github.com/mr-bobz/talarts/issues/97

[2015-11-10 15:38] mr-bobz commented on #106
Fixed via adding a jQuery module in custom.js.

[2015-11-10 22:02] christosptr commented on #160
verified

[2015-11-10 22:02] #160 closed, assigned to christosptr

[2015-11-11 02:06] mr-bobz commented on #156
Fixed

[2015-11-11 02:08] mr-bobz commented on #156
I upgraded to latest version of mediaelement player (mediaelement-and-player.min.js) before hacking - http://mediaelementjs.com/

That has fixed the aria-labels for all controls

[2015-11-11 02:43] christosptr opened #162 "Transcript Link for the Video Editor"
Is it possible to add an aria-label to the Transacript link

Current HTML Code
<a class="video-transcript-link" href="/avl-video/tala-promo-video/?transcript=true">Transcript<span class="screen-reader-text"> to Nicole Elmer and Blair Dancy talks about TALA services in this video</span></a>

Change to HTML code
<a class="video-transcript-link" href="/avl-video/tala-promo-video/?transcript=true" ari

[2015-11-11 03:04] christosptr commented on #154
I have added the Summary tag @HerinHentry do you want to also add scope or caption?

I think is okay but just wanted to double check with your before closing

[2015-11-11 03:08] christosptr commented on #139
@mustanali @mr-bobz @HerinHentry

Menu still have issues with JAWS and NVDA navigation

The correct solution is that once the focus is set on the menu the keyboard navigation is correct and we do not need to change the mode for the keyboard navigation to work

Steve explain that when in Virtual Cursor Mode OFF JAWS seed the dom this is why it works. He also said that the menus are shown and we sho

[2015-11-11 03:10] christosptr commented on #72
this is a duplicate of #145

[2015-11-11 03:10] #72 closed, assigned to christosptr

[2015-11-11 03:14] christosptr commented on #133
Hi @HerinHentry  I have tested this with NVDA and it looks good to me. NVDA says the following
Sign Up Now
link  Sign Up Now (opens new window to 3rd party site)

Can you please have a look at this and close

[2015-11-11 03:16] christosptr commented on #122
Steve have given us a sample solution on Slack will find the link and post it here as well

[2015-11-11 03:20] christosptr commented on #156
@HerinHentry  and @mr-bobz

There is still a bit of an issues with the CC caption button. JAWS announce that we need to press the JAWS button + Alt + M to activate the button

If we add an aria-label="press enter to toggle" it will overwrite  all other labels or aria and it will be correct

Steve confirmed last night that aria-label will overwrite the label tag and another attributes like title

[2015-11-11 04:29] christosptr commented on #102
@HerinHentry so can I close this one?

[2015-11-11 06:18] anmolpatel commented on #100
fixed by bobby to this ->
<div id="breadcrumbs" role="region" aria-label="breadcrumb navigation">

please re-test

[2015-11-11 06:21] anmolpatel commented on #93
cannot replicate this issue

[2015-11-11 06:44] anmolpatel commented on #78
Added fieldset around radio button for donation amount as required

[2015-11-11 06:56] anmolpatel commented on #110
checked on achecker, issue cannot be replicated
can close this

[2015-11-11 07:00] anmolpatel commented on #91
<img width="1090" alt="screen shot 2015-11-11 at 5 58 32 pm" src="https://cloud.githubusercontent.com/assets/4068650/11085735/ebb0a38a-889d-11e5-8c77-073219b921df.png">

this is the new layout, Formatting looks good,
not sure if there are any other issues

[2015-11-11 07:02] anmolpatel commented on #89
Now it works correctly,
all events are child pages for Events
<img width="1029" alt="screen shot 2015-11-11 at 6 01 09 pm" src="https://cloud.githubusercontent.com/assets/4068650/11085776/51667f10-889e-11e5-8cb9-1eb8c765cc14.png">

[2015-11-11 07:09] anmolpatel commented on #85
added CSS to hide it.
it is in Custom CSS

[2015-11-11 08:05] mr-bobz commented on #162
Wouldn't <span class="screen-reader-text"> to Nicole Elmer and Blair Dancy talks about TALA services in this video</span> suffice? I can try adding, but wondering it would be a repetition for screen readers

[2015-11-11 08:50] mr-bobz commented on #162
Done, pls verify, thanks

[2015-11-11 09:19] christosptr commented on #162
when you put the aria-label it will over write the title. I was more
thinking to make it more natural English speaking. This is not a high
severity. Let focus on the menu and if we have time we can do this one
other wise no problem

Cheers Christos
Send from my mobile device

On Wed, Nov 11, 2015 at 7:50 PM, Bobby Joseph notifications@github.com
wrote:

[2015-11-11 10:21] HerinHentry opened #163 "Distractive spinner on the Video when the page loads (Not while playing)"
There is a small spinner in the poster image when trying to load data.

<...video class="wp-video-shortcode" id="video-8-3" width="640" height="360" poster="/wp-content/uploads/2015/11/TALA_Video_Poster.jpg" **preload="metadata"** controls="controls">

Suggestion : Can we please try using preload="auto"?

![image](https://cloud.githubusercontent.com/assets/15111528/11088875/ac1d648a-88b9-11e5-9e19

[2015-11-11 10:24] HerinHentry commented on #157
Issue is fixed. Page satisfies the structure. A little Best practice would improve the accessibility.
**Please add tab index to the result below**
![image](https://cloud.githubusercontent.com/assets/15111528/11089002/8270b91a-88ba-11e5-9879-42b08eb11fdf.png)

[2015-11-11 10:26] HerinHentry commented on #74
Issue fixed. Excellent Effort Chris.

[2015-11-11 10:26] #74 closed, assigned to HerinHentry

[2015-11-11 10:27] HerinHentry commented on #85
Excellent! Thank you. Closing issue

[2015-11-11 10:27] #85 closed, assigned to HerinHentry

[2015-11-11 10:28] HerinHentry commented on #89
Great work! Thank you. Closing the issue.

[2015-11-11 10:28] #89 closed, assigned to HerinHentry

[2015-11-11 10:47] HerinHentry commented on #154
Yes Chris. Scope & Captions are necessary.
Scope tells the screen reader when they use ALT+F5, the cell corresponds to which row and column. Caption will be the title of the table displayed on the page.

Can you please make changes to this?

[2015-11-11 10:49] HerinHentry commented on #91
This issue was fixed earlier. Can be closed.

[2015-11-11 10:49] #91 closed, assigned to HerinHentry

[2015-11-11 10:50] HerinHentry commented on #106
Issue fixed.

[2015-11-11 10:50] #106 closed, assigned to HerinHentry

[2015-11-11 11:06] HerinHentry commented on #100
Issue still persists. Not able to identify the source of this issue.
Did some googling and it suggests looking at the code to see if any other element has been left with out closing it. Will leave this for now until other major issues are resolved.
http://help.simplytestable.com/errors/html-validation/element-x-not-allowed-as-child-of-element-y-in-this-context-suppressing-further-errors-from-this-

[2015-11-11 11:10] HerinHentry commented on #110
Issue resolved with the tabs. Closing this off

[2015-11-11 11:10] #110 closed, assigned to HerinHentry

[2015-11-11 11:10] christosptr commented on #154
I have added caption as well and tested the tables using Ctrl+Alt+ arrow keys with JAWS and NVDA and it works as expected.

scope is already there

[2015-11-11 11:11] HerinHentry commented on #93
No Duplicate IDs now.Parsing error now.
![image](https://cloud.githubusercontent.com/assets/15111528/11089835/2d28c158-88c1-11e5-8461-14ebfc03b0df.png)

[2015-11-11 11:12] HerinHentry commented on #151
Excellent. Closing the issue

[2015-11-11 11:12] #151 closed, assigned to HerinHentry

[2015-11-11 11:16] christosptr commented on #155
I think all testing pages have been remove
@HerinHentry can you please double check and close this defect

[2015-11-11 11:16] christosptr opened #164 "Make sure we export the wordpress site before the loose access"

[2015-11-11 11:19] christosptr commented on #162
@HerinHentry what do you think should we close this defect

[2015-11-11 11:19] christosptr commented on #154
can you please have a look I am not sure what else need to be done

[2015-11-11 11:25] christosptr commented on #154
got it

[2015-11-11 11:29] HerinHentry opened #165 "Lists to be removed on member page & what we do page"

[2015-11-11 11:35] christosptr commented on #154
done :) Yes much better now

[2015-11-11 11:37] christosptr commented on #154
Tested it with NVDA and JAWS

[2015-11-11 11:39] HerinHentry commented on #156
@mr-bobz : The buttons are also missing alt text.
I havenot done a code inspection for this yet.

![image](https://cloud.githubusercontent.com/assets/15111528/11090267/ba5c596a-88c4-11e5-92fe-c4c8a69d52fa.png)
![image](https://cloud.githubusercontent.com/assets/15111528/11090276/ca50f77c-88c4-11e5-8643-a78301d20580.png)

@christosptr : Thank you for the update.

[2015-11-11 11:40] HerinHentry commented on #155
All pages removed.Can close this issue

[2015-11-11 11:40] #155 closed, assigned to HerinHentry

[2015-11-11 11:43] HerinHentry commented on #162
Aria Labels are not necessary for text links. Moreover, the user has access to the context from other areas of the website like headers, videos etc. I think this is not a high priority as we have other issues.
We can close this off.

[2015-11-11 11:45] anoopm7 commented on #165
Please have a look.

[2015-11-11 11:47] anoopm7 commented on #147
@mr-bobz - assigning you this for the two attributes mentioned by chris above.

[2015-11-11 11:47] HerinHentry commented on #154
We do not need scope on both row headers and columns for this simple table. Only row scope is enough.
As this is a 6 rows with 2 columns table, users are going to be fine. I think we can remove the column level scope. Issue here is the styling on the table only says row headers. So, we should be consistant.
![image](https://cloud.githubusercontent.com/assets/15111528/11090421/d71f3b52-88c5-11e5-8d

[2015-11-11 11:47] anoopm7 commented on #147
herin has created 165 and i will switch to there.

[2015-11-11 11:52] HerinHentry commented on #133
Firefox + NVDA combination says both Aria-label and the Title. It seems repeated. But, atleast it's accessible. We can close this issue.

opens new window to 3rd party site
link  Sign Up Now (opens new window to 3rd party site)

[2015-11-11 11:52] #133 closed, assigned to HerinHentry

[2015-11-11 11:56] HerinHentry commented on #165
Excellent. Thanks @anoopm7 . Formatting is good.
But might need to check with @christosptr and Steve about whether these internal page links should carry any specific labels for the users?  Can you please advise?

[2015-11-11 12:13] HerinHentry commented on #78
@anmolpatel :The location of field set is still not set properly.
Please attach the file with the correct format. This code should be able to go for the radio buttons. We need the fieldset and legend right infront of the radio button group. They should not be outside another container. Same thing apply for every group you are doing. The issue was it was not able to relate the group of radio button

[2015-11-11 12:19] HerinHentry commented on #77
@anmolpatel : Labels are not associated with the text boxes still.
Checkboxes if they are single, they do not need any fieldset and legend.
Every Text box & text box should have an id and this needs to be associated with the label with "label for" attribute. Please give it a go. If not we can work together on this tomorrow night.
When you run your report on Achecker, select Options > view by line

[2015-11-11 12:42] anmolpatel commented on #78
fixed the radio buttons as per your input,
added fieldset for other areas,
it is quire difficult to modify further inside Tribute Gift section, as i'll have to remove elements from the html and than put them back in.. let me know if i should modify the tribute gift further or not

[2015-11-11 12:46] anmolpatel commented on #100
why do we have breadcrumbs as h1 in the first place ?
aren't breadcrumbs just meant to be navigation aid,

Can we can use <p ="nav-aid"><div id="breadcrumbs"> </div></p> and modify than further modify the size as needed ?

[2015-11-11 13:07] anmolpatel commented on #77
accessibility checker is not picking up on it cause the labels are only added / connected with input type on page ready using jQuery.
it might be why the aChecker is not picking up on it. Can you Please do a manual check on a one section

[2015-11-11 17:46] #162 closed, assigned to christosptr

[2015-11-11 23:33] mr-bobz commented on #162
Github removes html elements when pasted in comments. I meant to ask about the span tag inside that link meant for screen readers. Anyway added the aria-label as you wanted already.

[2015-11-11 23:34] mr-bobz commented on #163
preload="auto" would not show the loading spinner?

[2015-11-11 23:37] mr-bobz commented on #157
done

[2015-11-12 00:55] mustanali commented on #149
@christosptr @HerinHentry this has been fixed.Please check and close.

[2015-11-12 03:11] mr-bobz commented on #163
The video is added using a short code/plugin. I added there, don't think it is supported by plugin though.
[avl_video id="1031" preload="auto"]

[2015-11-12 04:20] mr-bobz commented on #156
I have added text to the buttons

[2015-11-12 04:22] mr-bobz commented on #129
added title and aria-label

[2015-11-12 04:24] mr-bobz commented on #100
Looks like you pasted some html and it was removed by github.

We need an h1 as page title for every page. We didn't want to repeat since breadcrumb also shows the same, especially for Home page!

[2015-11-12 04:52] mr-bobz commented on #147
Added in the WP editor as well as via jQuery (custom.js)

![5dad9daa2819d9a0](https://cloud.githubusercontent.com/assets/12365601/11110843/689a20d0-8955-11e5-8231-b3ba436d0df5.jpg)

[2015-11-12 05:02] mr-bobz commented on #147
I feel the page implementation is a bit odd. Instead of adding an empty div with id top, can't we just set the id for the heading and move to there? Else clicking on 'Move to top'  takes to nothing and could be confusing for user/screen reader.

Also instead of using div for above navigation list, I think ul-li would be better. Would look good too.

[2015-11-12 05:31] anoopm7 commented on #147
@mr-bobz  the empty div is because the user can see header when move to top is clicked. if you give the id to heading then when you click on move to top the header is actually not visible and needs to be scrolled. Please advise.

With ul/li instead of divs, steve mentioned that single li lists should be avoided. I can check with herin if 1 ul with several li is fine to be used?

[2015-11-12 05:33] anoopm7 commented on #147
@HerinHentry

[2015-11-12 09:45] anmolpatel commented on #100
im not sure what you mean there, haven't added any html related to breadcrumb

[2015-11-12 11:44] #154 closed, assigned to christosptr

[2015-11-12 11:48] #165 closed, assigned to christosptr

[2015-11-12 12:23] HerinHentry commented on #163
It works. Closining.

[2015-11-12 12:23] #163 closed, assigned to HerinHentry

[2015-11-12 12:24] HerinHentry commented on #157
Excellent! Closing issue.

[2015-11-12 12:24] #157 closed, assigned to HerinHentry

[2015-11-12 12:53] anoopm7 opened #166 "Donate page"
![donate](https://cloud.githubusercontent.com/assets/7464396/11118761/7a183e9e-8998-11e5-94a5-1b72aec80e13.png)

[2015-11-12 12:59] mr-bobz commented on #147
Fixed

[2015-11-12 13:02] mr-bobz commented on #100
should be ok now, I guess.

[2015-11-12 13:05] #129 closed, assigned to HerinHentry

[2015-11-12 13:07] HerinHentry commented on #156
Can close.

[2015-11-12 13:07] #156 closed, assigned to HerinHentry

[2015-11-12 13:12] HerinHentry commented on #78
Excellent work! Well done!

[2015-11-12 13:12] #78 closed, assigned to HerinHentry

[2015-11-12 13:13] #149 closed, assigned to christosptr

[2015-11-12 13:29] HerinHentry commented on #147
Excellent! Closing now

[2015-11-12 13:29] #147 closed, assigned to HerinHentry

[2015-11-12 13:33] #158 closed, assigned to christosptr

[2015-11-12 13:34] #139 closed, assigned to mustanali

[2015-11-12 13:48] HerinHentry commented on #122
@christosptr , Can you please advise on this?

[2015-11-12 14:17] christosptr commented on #122
In NVDA you need to press Esc and then down arrow

[2015-11-12 14:17] #122 closed, assigned to christosptr

[2015-11-12 14:20] HerinHentry commented on #122
Excellent!

[2015-11-12 14:46] #93 closed, assigned to anmolpatel

[2015-11-12 14:48] #100 closed, assigned to HerinHentry

[2015-11-12 14:57] #136 closed, assigned to mr-bobz

[2015-11-12 21:19] christosptr commented on #77
closing this as we have #166 issues to have a look when we move to the live site

[2015-11-12 21:19] #77 closed, assigned to HerinHentry

[2015-11-13 04:31] mr-bobz commented on #164
done

[2015-11-13 04:31] #164 closed, assigned to mr-bobz

[2019-09-09 23:55] christosptr opened #168 "Improve keyboard navigation for menu"